.yui3-skin-sam .yui3-datatable td.aui-datatable-cell-selected,
.yui3-skin-sam tr.yui3-datatable-odd td.yui3-datatable-asc.aui-datatable-cell-selected, .yui3-skin-sam tr.yui3-datatable-odd td.yui3-datatable-desc.aui-datatable-cell-selected,
.yui3-skin-sam tr.yui3-datatable-even td.yui3-datatable-asc.aui-datatable-cell-selected, .yui3-skin-sam tr.yui3-datatable-even td.yui3-datatable-desc.aui-datatable-cell-selected {
	background-color: #6688EE;
	color: #fff;
	outline: 0;
}

.yui3-skin-sam .yui3-datatable tr.aui-datatable-row-selected,
.yui3-skin-sam tr.yui3-datatable-odd.aui-datatable-row-selected td.yui3-datatable-asc, .yui3-skin-sam tr.yui3-datatable-odd.aui-datatable-row-selected td.yui3-datatable-desc,
.yui3-skin-sam tr.yui3-datatable-even.aui-datatable-row-selected td.yui3-datatable-asc, .yui3-skin-sam tr.yui3-datatable-even.aui-datatable-row-selected td.yui3-datatable-desc {
	background-color: #6688EE;
	color: #fff;
	outline: 0;
}