.yui3-aui-basecelleditor {
	background-color: #F2F2F2;
	border: 1px solid #808080;
	padding: 6px;
	text-align: left;
}

.yui3-aui-celleditor-edit-delete-option {
	display: block;
	padding: 0 0 3px 0;
}

.yui3-aui-celleditor-edit {
	padding: 0 0 5px;
}