.aui-basecelleditor {
	background-color: #F2F2F2;
	border: 1px solid #808080;
	padding: 6px;
	text-align: left;
}

.aui-celleditor-edit {
	padding: 0 0 5px;
}

.aui-celleditor-edit-option-row {
	padding: 0 0 2px 0;
}