.yui3-skin-sam tr.yui3-datatable-even td.aui-datatable-cell-selected,
.yui3-skin-sam tr.yui3-datatable-odd td.aui-datatable-cell-selected,
.yui3-skin-sam tr.yui3-datatable-even.aui-datatable-row-selected td,
.yui3-skin-sam tr.yui3-datatable-odd.aui-datatable-row-selected td {
	background-color: #6688EE;
	color: #fff;
	outline: 0;
}