.tree-view {
    overflow: auto
}
.tree-view ul {
    list-style: none
}
.tree-view-content {
    margin: 0
}
.tree-container {
    margin: 0 0 0 20px
}
.tree-node-content .tree-hitarea {
    cursor: pointer
}
.tree-node-content .tree-hitarea.tree-node-hidden-hitarea {
    background: none;
    cursor: default;
}
.tree-label {
    cursor: pointer;
    line-height: 19px;
    margin-left: 2px;
}
.tree-node .yui3-dd-draggable, .tree-node .yui3-dd-draggable .tree-label {
    cursor: pointer
}
.tree-node-leaf {
    margin-left: 15px
}
.tree-node-selected .tree-label {
    background: #eee
}
/* TreeView file */
 .tree-file i {
    cursor: move
}
/* TreeNodeCheck */
 .tree-node-checkbox-container {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
    opacity: .25;
}
.tree-node-checked .tree-node-checkbox-container {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.tree-node .tree-node-checkbox-container {
    cursor: pointer
}
/* TreeNodeTask */
 .tree-node-child-unchecked .tree-node-checkbox-container {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: .6
}
/* TreeViewDragDrop */
 .tree-drag-insert-above {
    border-top: 1px dotted #555
}
.tree-drag-insert-below {
    border-bottom: 1px dotted #555
}
.tree-drag-insert-append .tree-label {
    background: #eee;
    border: 1px dotted #555;
}
.tree-drag-helper {
    line-height: 18px;
    min-width: 100px;
    position: absolute;
}
.tree-drag-helper-content {
    background: #fff;
    border: 1px solid #aaa;
    margin: 20px 0 0 60px;
    padding: 2px 10px 0 6px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: .9
}
.tree-drag-helper-label {
    float: left;
    font-size: 12px;
    padding-left: 2px;
}
.tree-node-paginator {
    margin-left: 18px
}