.image-cropper {
    line-height: 0;
    position: relative;
}
.image-cropper .image-cropper-crop {
    background-repeat: no-repeat;
    border: 1px solid #000;
    position: absolute;
    z-index: 10;
}
.image-cropper .image-cropper-crop:hover {
    cursor: move;
}
.image-cropper-overlay {
    background-color: transparent;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.image-cropper-crop-outline {
    border: 1px dashed #FFF;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 100%;
    margin-left: -1px;
    margin-top: -1px;
    outline: 3px solid rgba(255, 255, 255, 0.5);
    width: 100%;
}
.image-cropper-crop-hover .image-cropper-overlay {
    background-color: #FFF;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-inner {
    height: 10px;
    width: 10px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-t {
    top: -4px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-tr {
    right: -5px;
    top: -5px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-r {
    right: -4px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-br {
    bottom: -5px;
    right: -5px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-b {
    bottom: -4px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-bl {
    bottom: -5px;
    left: -5px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-l {
    left: -4px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-tl {
    left: -5px;
    top: -5px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-inner-t {
    margin-left: -5px;
    top: -2px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-inner-tr {
    right: 0;
    top: 0;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-inner-r {
    margin-top: -5px;
    right: -2px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-inner-br {
    bottom: 0;
    right: 0;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-inner-b {
    bottom: -2px;
    margin-left: -5px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-inner-bl {
    bottom: 0;
    left: 0;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-inner-l {
    left: -2px;
    margin-top: -5px;
}
.image-cropper .image-cropper-crop .yui3-resize-handle-inner-tl {
    left: 0;
    top: 0;
}

/* IE fixes */
 .image-cropper-overlay {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"\9;
    filter: alpha(opacity=40)\9;
}