/*
Add your classname to the list below in order to have your element
recieve a gracefully degrading chrome enhancement such as a drop
shadow or rounded corners.
*/

/* ---------- CSS3 shadows ---------- */
.aui-dialog-content,
.aui-date-picker-content,
.aui-overlaycontextpanel-content,
.aui-tooltip-content,
.aui-colorpicker-content,
.aui-tree-drag-helper-content {
	-moz-box-shadow: 4px 4px 14px #777;
	-webkit-box-shadow: 4px 4px 14px #777;
	box-shadow: 4px 4px 14px #777;
}

.aui-tab-active .aui-tab-content {
	-moz-box-shadow: 0px 0px 15px #575757 inset, 0px 0px 5px #222 inset;
	-webkit-box-shadow: 0px 0px 15px #575757 inset, 0px 0px 5px #222 inset;
	box-shadow: 0px 0px 15px #575757 inset, 0px 0px 5px #222 inset;
}

/* No shadow */

.aui-null-selector {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* ---------- Rounded corners ---------- */

/* All corners */

.aui-state-default,
.aui-state-active,
.aui-state-hover,
.aui-calendar-content,
.aui-colorpicker-content,
.aui-colorpicker-panel-content,
.aui-image-gallery-paginator .aui-image-gallery-paginator-thumb,
.aui-image-viewer-loading .aui-image-viewer-bd,
.aui-loadingmask-message,
.aui-loadingmask-message-content,
.aui-progress-bar-content,
.aui-progress-bar-status,
.aui-form-builder-field,
.aui-form-builder-default-message,
.aui-tabview-list {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.aui-carousel menu {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.aui-carousel menu a {
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

/* Large corners */
.aui-textboxlistentry,
.aui-textboxlistentry-close {
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
}


/* No corners */

.aui-dialog .yui3-widget-hd,
.aui-editable-hover,
.aui-tab,
.aui-overlaycontextpanel-pointer.aui-state-default,
.aui-toolbar-item-content,
.aui-toolbar-item,
.aui-toolbar-vertical .aui-toolbar-item {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/* Left corners */

.aui-toolbar-first {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

/* Right corners */

.aui-toolbar-last {
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* Top left */

.aui-image-viewer-bd,
.aui-toolbar-vertical .aui-toolbar-first {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

/* Top right */

.aui-image-viewer-bd,
.aui-toolbar-vertical .aui-toolbar-first {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

/* Bottom left */

.aui-image-viewer-content .yui3-widget-ft,
.aui-toolbar-vertical .aui-toolbar-last {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

/* Bottom right */

.aui-image-viewer-content .yui3-widget-ft,
.aui-toolbar-vertical .aui-toolbar-last {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* Animating background color */

.aui-image-cropper-overlay {
	-moz-transition: background-color 0.3s ease-out;
	-ms-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	-webkit-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}