.yui3-aui-form {
}

.yui3-aui-fieldset-legend {
	font-size: 1.2em;
	font-weight: bold;
}

.yui3-aui-field-labels-top {
	
}

.yui3-aui-field-labels-left {
	
}

.yui3-aui-field-labels-right {
	
}

.yui3-aui-field-labels-inline .yui3-aui-field-label,
.yui3-aui-field-labels-inline .yui3-aui-field-input,
.yui3-aui-field-labels-inline .yui3-aui-field-hint {
	float: left;
}

.yui3-aui-field-labels-inline .yui3-aui-field-label,
.yui3-aui-field-labels-inline .yui3-aui-field-input-text {
	width: 45%;
}

.yui3-aui-field-labels-inline .yui3-aui-field-label {
	margin: 0.3em 2% 0 0;
}

.yui3-aui-field-labels-right .yui3-aui-field-label {
	text-align: right;
}

.yui3-aui-field-labels-inline .yui3-aui-field-hint {
	display: block;
	float: none;
	clear: both;
	margin-left: 47%;
}

.yui3-aui-field-label,
.yui3-aui-field-labels-top .yui3-aui-field-label {
	display: block;
	float: none;
	text-align: left;
	margin: 0;
	width: auto;
}

.yui3-aui-field-input,
.yui3-aui-field-labels-top .yui3-aui-field-input {
	float: none;
	width: auto;
}

.yui3-aui-field-hint,
.yui3-aui-field-labels-top .yui3-aui-field-hint {
	line-height: 1;
	clear: none;
	float: right;
	width: 45%;
	margin: 0;
}

.yui3-aui-field-hint-icon {
	float: left;
}

.yui3-aui-field-inline {
	display: inline-block;
	vertical-align: middle;
}

.yui3-aui-field-label-inline {
	display: inline-block;
	margin: 0.4em 0.4em 0 0
}

.yui3-aui-field-inline .yui3-aui-field-content,
.yui3-aui-field-inline .yui3-aui-field-label {
	display: inline-block;
}

.yui3-aui-field-inline .yui3-aui-field-label {
	vertical-align: middle;
}

.yui3-aui-field-group {
	float: left;
	width: 53%;
}

.yui3-aui-choice-label {
	line-height: 1;
	width: 89%;
}

.yui3-aui-field-input-choice {
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
}

.yui3-aui-choice-label,
.yui3-aui-field-input-choice {
	float: left;
}

.yui3-aui-field-row {
	display: block;
	clear: both;
}

.yui3-aui-field-row:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}

.yui3-aui-field-row {
	/* IE7/IE6 */
	zoom: 1;
}

.yui3-aui-button-holder {
	overflow: hidden;
	display: block;
	clear: both;
}

.yui3-aui-button-input {
	margin: 0;
	line-height: 1.3;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 10px 6px 7px;
}

/* IE7 and below */
.yui3-aui-button-input {
	*padding: 4px 10px 3px 7px;
}

.yui3-aui-field-content:after,
.yui3-aui-button-holder:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	overflow: hidden;
}

.yui3-aui-field-content,
.yui3-aui-button-holder {
	display: inline-block;
}

/* start commented backslash hack \*/
* html .yui3-aui-field-content,
* html .yui3-aui-button-holder {
	height: 1%;
}

.yui3-aui-field-content,
.yui3-aui-button-holder {
	display: block;
}
/* close commented backslash hack */

.yui3-aui-field-label {
	font-weight: bold;
}

.yui3-aui-choice-label {
	font-weight: normal;
}

.yui3-aui-field-hint {
	color: #777;
	font-size: 0.9em;
}

.yui3-aui-choice-label,
.yui3-aui-field-hint {
	line-height: 1.2;
}

.yui3-aui-field-element-left {
	display: inline-block;
	vertical-align: middle;
}

/* Fields used for form validation */

.yui3-aui-field.yui3-aui-has-error .yui3-aui-field-content {
	border-bottom: 1px solid #EF4A4A;
	background-color: #FF9F9F;
}

.yui3-aui-field.yui3-aui-has-warn .yui3-aui-field-content {
	border-bottom: 1px solid #FFC45F;
	background-color: #FFFABF;
}

.yui3-aui-field .yui3-aui-message-holder {
	color: #FF0000;
	display: block;
	font-weight: bold;
}

.yui3-aui-status-failure {
	border:  1px solid #EF4A4A;
}