.aui-icon {
	background-repeat: no-repeat;
	background: url(../images/icon_sprite.png) no-repeat 0 0;
	display: block;
	height: 16px;
	overflow: hidden;
	text-indent: -99999em;
	width: 16px;
}

.ie6, .ie7 {
	.aui-icon {
		font-size: 0;
		line-height: 0;
		overflow: hidden;
		text-indent: 0;
	}
}

.aui-icon-carat-1-t {
	background-position: 0 0; 
}

.aui-icon-carat-1-tr {
	background-position: -16px 0; 
}

.aui-icon-carat-1-r {
	background-position: -32px 0; 
}

.aui-icon-carat-1-br {
	background-position: -48px 0; 
}

.aui-icon-carat-1-b {
	background-position: -64px 0; 
}

.aui-icon-carat-1-bl {
	background-position: -80px 0; 
}

.aui-icon-carat-1-l {
	background-position: -96px 0; 
}

.aui-icon-carat-1-tl {
	background-position: -112px 0; 
}

.aui-icon-carat-2-t-b {
	background-position: -128px 0; 
}

.aui-icon-carat-2-r-l {
	background-position: -144px 0; 
}

.aui-icon-triangle-1-t {
	background-position: 0 -16px; 
}

.aui-icon-triangle-1-tr {
	background-position: -16px -16px; 
}

.aui-icon-triangle-1-r {
	background-position: -32px -16px; 
}

.aui-icon-triangle-1-br {
	background-position: -48px -16px; 
}

.aui-icon-triangle-1-b {
	background-position: -64px -16px; 
}

.aui-icon-triangle-1-bl {
	background-position: -80px -16px; 
}

.aui-icon-triangle-1-l {
	background-position: -96px -16px; 
}

.aui-icon-triangle-1-tl {
	background-position: -112px -16px; 
}

.aui-icon-triangle-2-t-b {
	background-position: -128px -16px; 
}

.aui-icon-triangle-2-r-l {
	background-position: -144px -16px; 
}

.aui-icon-arrow-1-t {
	background-position: 0 -32px; 
}

.aui-icon-arrow-1-tr {
	background-position: -16px -32px; 
}

.aui-icon-arrow-1-r {
	background-position: -32px -32px; 
}

.aui-icon-arrow-1-br {
	background-position: -48px -32px; 
}

.aui-icon-arrow-1-b {
	background-position: -64px -32px; 
}

.aui-icon-arrow-1-bl {
	background-position: -80px -32px; 
}

.aui-icon-arrow-1-l {
	background-position: -96px -32px; 
}

.aui-icon-arrow-1-tl {
	background-position: -112px -32px; 
}

.aui-icon-arrow-2-t-b {
	background-position: -128px -32px; 
}

.aui-icon-arrow-2-tr-bl {
	background-position: -144px -32px; 
}

.aui-icon-arrow-2-r-l {
	background-position: -160px -32px; 
}

.aui-icon-arrow-2-br-tl {
	background-position: -176px -32px; 
}

.aui-icon-arrowstop-1-t {
	background-position: -192px -32px; 
}

.aui-icon-arrowstop-1-r {
	background-position: -208px -32px; 
}

.aui-icon-arrowstop-1-b {
	background-position: -224px -32px; 
}

.aui-icon-arrowstop-1-l {
	background-position: -240px -32px; 
}

.aui-icon-arrowthick-1-t {
	background-position: 0 -48px; 
}

.aui-icon-arrowthick-1-tr {
	background-position: -16px -48px; 
}

.aui-icon-arrowthick-1-r {
	background-position: -32px -48px; 
}

.aui-icon-arrowthick-1-br {
	background-position: -48px -48px; 
}

.aui-icon-arrowthick-1-b {
	background-position: -64px -48px; 
}

.aui-icon-arrowthick-1-bl {
	background-position: -80px -48px; 
}

.aui-icon-arrowthick-1-l {
	background-position: -96px -48px; 
}

.aui-icon-arrowthick-1-tl {
	background-position: -112px -48px; 
}

.aui-icon-arrowthick-2-t-b {
	background-position: -128px -48px; 
}

.aui-icon-arrowthick-2-tr-bl {
	background-position: -144px -48px; 
}

.aui-icon-arrowthick-2-r-l {
	background-position: -160px -48px; 
}

.aui-icon-arrowthick-2-br-tl {
	background-position: -176px -48px; 
}

.aui-icon-arrowthickstop-1-t {
	background-position: -192px -48px; 
}

.aui-icon-arrowthickstop-1-r {
	background-position: -208px -48px; 
}

.aui-icon-arrowthickstop-1-b {
	background-position: -224px -48px; 
}

.aui-icon-arrowthickstop-1-l {
	background-position: -240px -48px; 
}

.aui-icon-arrowreturnthick-1-l {
	background-position: 0 -64px; 
}

.aui-icon-arrowreturnthick-1-t {
	background-position: -16px -64px; 
}

.aui-icon-arrowreturnthick-1-r {
	background-position: -32px -64px; 
}

.aui-icon-arrowreturnthick-1-b {
	background-position: -48px -64px; 
}

.aui-icon-arrowreturn-1-l {
	background-position: -64px -64px; 
}

.aui-icon-arrowreturn-1-t {
	background-position: -80px -64px; 
}

.aui-icon-arrowreturn-1-r {
	background-position: -96px -64px; 
}

.aui-icon-arrowreturn-1-b {
	background-position: -112px -64px; 
}

.aui-icon-arrowrefresh-1-l {
	background-position: -128px -64px; 
}

.aui-icon-arrowrefresh-1-t {
	background-position: -144px -64px; 
}

.aui-icon-arrowrefresh-1-r {
	background-position: -160px -64px; 
}

.aui-icon-arrowrefresh-1-b {
	background-position: -176px -64px; 
}

.aui-icon-arrow-4 {
	background-position: 0 -80px; 
}

.aui-icon-arrow-4-diag {
	background-position: -16px -80px; 
}

.aui-icon-extlink {
	background-position: -32px -80px; 
}

.aui-icon-newwin {
	background-position: -48px -80px; 
}

.aui-icon-refresh {
	background-position: -64px -80px; 
}

.aui-icon-shuffle {
	background-position: -80px -80px; 
}

.aui-icon-transfer-r-l {
	background-position: -96px -80px; 
}

.aui-icon-transferthick-r-l {
	background-position: -112px -80px; 
}

.aui-icon-folder-collapsed {
	background-position: 0 -96px; 
}

.aui-icon-folder-open {
	background-position: -16px -96px; 
}

.aui-icon-document {
	background-position: -32px -96px; 
}

.aui-icon-document-b {
	background-position: -48px -96px; 
}

.aui-icon-note {
	background-position: -64px -96px; 
}

.aui-icon-mail-closed {
	background-position: -80px -96px; 
}

.aui-icon-mail-open {
	background-position: -96px -96px; 
}

.aui-icon-suitcase {
	background-position: -112px -96px; 
}

.aui-icon-comment {
	background-position: -128px -96px; 
}

.aui-icon-person {
	background-position: -144px -96px; 
}

.aui-icon-print {
	background-position: -160px -96px; 
}

.aui-icon-trash {
	background-position: -176px -96px; 
}

.aui-icon-locked {
	background-position: -192px -96px; 
}

.aui-icon-unlocked {
	background-position: -208px -96px; 
}

.aui-icon-bookmark {
	background-position: -224px -96px; 
}

.aui-icon-tag {
	background-position: -240px -96px; 
}

.aui-icon-home {
	background-position: 0 -112px; 
}

.aui-icon-flag {
	background-position: -16px -112px; 
}

.aui-icon-calendar {
	background-position: -32px -112px; 
}

.aui-icon-cart {
	background-position: -48px -112px; 
}

.aui-icon-pencil {
	background-position: -64px -112px; 
}

.aui-icon-clock {
	background-position: -80px -112px; 
}

.aui-icon-disk {
	background-position: -96px -112px; 
}

.aui-icon-calculator {
	background-position: -112px -112px; 
}

.aui-icon-zoomin {
	background-position: -128px -112px; 
}

.aui-icon-zoomout {
	background-position: -144px -112px; 
}

.aui-icon-search {
	background-position: -160px -112px; 
}

.aui-icon-wrench {
	background-position: -176px -112px; 
}

.aui-icon-gear {
	background-position: -192px -112px; 
}

.aui-icon-heart {
	background-position: -208px -112px; 
}

.aui-icon-star {
	background-position: -224px -112px; 
}

.aui-icon-link {
	background-position: -240px -112px; 
}

.aui-icon-cancel {
	background-position: 0 -128px; 
}

.aui-icon-plus {
	background-position: -16px -128px; 
}

.aui-icon-plusthick {
	background-position: -32px -128px; 
}

.aui-icon-minus {
	background-position: -48px -128px; 
}

.aui-icon-minusthick {
	background-position: -64px -128px; 
}

.aui-icon-close {
	background-position: -80px -128px; 
}

.aui-icon-closethick {
	background-position: -96px -128px; 
}

.aui-icon-key {
	background-position: -112px -128px; 
}

.aui-icon-lightbulb {
	background-position: -128px -128px; 
}

.aui-icon-scissors {
	background-position: -144px -128px; 
}

.aui-icon-clipboard {
	background-position: -160px -128px; 
}

.aui-icon-copy {
	background-position: -176px -128px; 
}

.aui-icon-contact {
	background-position: -192px -128px; 
}

.aui-icon-image {
	background-position: -208px -128px; 
}

.aui-icon-video {
	background-position: -224px -128px; 
}

.aui-icon-script {
	background-position: -240px -128px; 
}

.aui-icon-alert {
	background-position: 0 -144px; 
}

.aui-icon-info {
	background-position: -16px -144px; 
}

.aui-icon-notice {
	background-position: -32px -144px; 
}

.aui-icon-help {
	background-position: -48px -144px; 
}

.aui-icon-check {
	background-position: -64px -144px; 
}

.aui-icon-bullet {
	background-position: -80px -144px; 
}

.aui-icon-radio-off {
	background-position: -96px -144px; 
}

.aui-icon-radio-on {
	background-position: -112px -144px; 
}

.aui-icon-pin-l {
	background-position: -128px -144px; 
}

.aui-icon-pin-b {
	background-position: -144px -144px; 
}

.aui-icon-play {
	background-position: 0 -160px; 
}

.aui-icon-pause {
	background-position: -16px -160px; 
}

.aui-icon-seek-next {
	background-position: -32px -160px; 
}

.aui-icon-seek-prev {
	background-position: -48px -160px; 
}

.aui-icon-seek-end {
	background-position: -64px -160px; 
}

.aui-icon-seek-first {
	background-position: -80px -160px; 
}

.aui-icon-stop {
	background-position: -96px -160px; 
}

.aui-icon-eject {
	background-position: -112px -160px; 
}

.aui-icon-volume-off {
	background-position: -128px -160px; 
}

.aui-icon-volume-on {
	background-position: -144px -160px; 
}

.aui-icon-power {
	background-position: 0 -176px; 
}

.aui-icon-signal-diag {
	background-position: -16px -176px; 
}

.aui-icon-signal {
	background-position: -32px -176px; 
}

.aui-icon-battery-0 {
	background-position: -48px -176px; 
}

.aui-icon-battery-1 {
	background-position: -64px -176px; 
}

.aui-icon-battery-2 {
	background-position: -80px -176px; 
}

.aui-icon-battery-3 {
	background-position: -96px -176px; 
}

.aui-icon-circle-plus {
	background-position: 0 -192px; 
}

.aui-icon-circle-minus {
	background-position: -16px -192px; 
}

.aui-icon-circle-close {
	background-position: -32px -192px; 
}

.aui-icon-circle-triangle-r {
	background-position: -48px -192px; 
}

.aui-icon-circle-triangle-b {
	background-position: -64px -192px; 
}

.aui-icon-circle-triangle-l {
	background-position: -80px -192px; 
}

.aui-icon-circle-triangle-t {
	background-position: -96px -192px; 
}

.aui-icon-circle-arrow-r {
	background-position: -112px -192px; 
}

.aui-icon-circle-arrow-b {
	background-position: -128px -192px; 
}

.aui-icon-circle-arrow-l {
	background-position: -144px -192px; 
}

.aui-icon-circle-arrow-t {
	background-position: -160px -192px; 
}

.aui-icon-circle-zoomin {
	background-position: -176px -192px; 
}

.aui-icon-circle-zoomout {
	background-position: -192px -192px; 
}

.aui-icon-circle-check {
	background-position: -208px -192px; 
}

.aui-icon-circlesmall-plus {
	background-position: 0 -208px; 
}

.aui-icon-circlesmall-minus {
	background-position: -16px -208px; 
}

.aui-icon-circlesmall-close {
	background-position: -32px -208px; 
}

.aui-icon-squaresmall-plus {
	background-position: -48px -208px; 
}

.aui-icon-squaresmall-minus {
	background-position: -64px -208px; 
}

.aui-icon-squaresmall-close {
	background-position: -80px -208px; 
}

.aui-icon-grip-dotted-vertical {
	background-position: 0 -224px; 
}

.aui-icon-grip-dotted-horizontal {
	background-position: -16px -224px; 
}

.aui-icon-grip-solid-vertical {
	background-position: -32px -224px; 
}

.aui-icon-grip-solid-horizontal {
	background-position: -48px -224px; 
}

.aui-icon-gripsmall-diagonal-br {
	background-position: -64px -224px; 
}

.aui-icon-grip-diagonal-br {
	background-position: -80px -224px; 
}

.aui-icon-loading {
	background: url(../images/loading_indicator.gif) no-repeat 0 0;
	width: 16px;
	height: 16px;
}