.diagram-builder {
    margin: 0;
}
.diagram-builder .diagram-builder-field {
    border-radius: 4px 4px 4px 4px;
    filter: alpha(opacity=50);
    float: left;
    height: 63px;
    list-style: none outside none;
    margin: 2px;
    opacity: .5;
    text-align: center;
    width: 79px;
}
.diagram-builder .diagram-builder-field-draggable {
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1;
}
.diagram-builder .diagram-builder-field.diagram-builder-field-draggable:hover {
    background-color: #f1f1f1;
}
.diagram-builder-field-icon {
    display: block;
    margin: 3px auto;
}
.diagram-builder-field-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.diagram-builder .tabbable {
    margin-left: 10px;
    position: absolute;
    width: 270px;
}
.diagram-builder .tab-pane {
    height: 544px;
    overflow: auto;
}
.diagram-builder-canvas {
    position: relative;
}
.diagram-builder-fields-container {
    margin: 5px;
}
.diagram-builder-content {
    min-height: 400px;
}
.diagram-builder-content-container {
    padding-left: 280px;
}
.diagram-node {
    cursor: move;
    position: absolute;
}
.diagram-node-label {
    text-align: center;
}
.diagram-builder-drop-container {
    height: 600px;
    overflow: auto;
    position: relative;
}
.diagram-builder-anchor-node {
    cursor: pointer;
    height: 15px;
    position: absolute;
    width: 15px;
}
.diagram-builder-anchor-node-max-targets {
    cursor: auto;
}
.diagram-builder-controls {
    display: none;
}
.diagram-node-selected .diagram-builder-controls {
    display: block;
    padding: 3px;
    text-align: center;
}
.diagram-node-state .diagram-builder-controls, .diagram-node-start .diagram-builder-controls, .diagram-node-end .diagram-builder-controls {
    margin-left: -7px;
}
.diagram-node-selected {
    border: 1px dotted #666;
}
.diagram-node-focused {
    outline: 0;
}
.diagram-node-shape-boundary {
    cursor: crosshair;
}
.diagram-node-suggest-connector.popover {
    display: block;
}
.diagram-node-suggest-connector .diagram-builder-field:hover {
    background-color: #F1F1F1;
}
.diagram-node-suggest-connector .diagram-builder-field {
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    float: left;
    height: 63px;
    list-style: none outside none;
    margin: 2px;
    text-align: center;
    width: 79px;
}
.table-property-list {
    margin-top: 5px;
}