.diagram-builder-connector-name {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #666666;
    cursor: pointer;
    opacity: 0.8;
    overflow: hidden;
    padding: 0 2px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    z-index: 500;
}