.aui-diagram-builder-base {
	margin: 0;
}

.aui-diagram-builder-base .aui-diagram-builder-base-field {
	border: 1px solid #CCCCCC;
	list-style: none outside none;
	margin: 3px 0;
	padding: 10px 0;
}

.aui-diagram-builder-base .aui-diagram-builder-base-field-draggable {
	cursor: pointer;
}

.aui-diagram-builder-base .aui-diagram-builder-base-field:hover {
	border: 1px solid #000000;
}

.aui-diagram-builder-base-field-icon {
	float: left;
	margin: 2px 5px 0;
}

.aui-diagram-builder-base .aui-diagram-builder-base-field-icon-text {
	background-position: -48px -80px;
}

.aui-diagram-builder-base .aui-property-list {
	padding-bottom: 10px;
}

.aui-diagram-builder-base-content {
	background-color: #f1f1f1;
	padding-left: 260px;
}

.aui-diagram-builder-base-tabs-container {
	float: left;
	margin-left: -260px;
	width: 260px;
}

.aui-diagram-builder-base-content-container {
	background-color: #f5f5f5;
}

.aui-diagram-builder-base-fields-container {
	margin: 5px;
}

.aui-diagram-builder-base-tabs-container-content {
	padding: 5px;
}

.aui-diagram-node {
	position: absolute;
	background-color: #D96666;
}

.aui-diagram-builder-base-drop-container {
	position: relative;
}

.aui-diagram-builder-base-drop-container {
    height: 600px;
}