.diagram-node {
    cursor: move;
    position: absolute;
}

.diagram-node-label {
    text-align: center;
}

.diagram-builder-anchor-node {
    background: url(anchor-default.png) no-repeat scroll center center transparent;
}

.diagram-builder-anchor-hover, .diagram-builder-anchor-node.yui3-dd-drop-active-valid {
    background: url(anchor-valid.png) no-repeat scroll center center transparent;
}

.diagram-builder-anchor-node.yui3-dd-drop-over {
    background: url(anchor-drop-active.png) no-repeat scroll center center transparent;
}

.diagram-node-task-icon {
    background: url(menu-task.png) no-repeat scroll center center transparent;
}

.diagram-node-task .diagram-node-content {
    background-color: #DBEAF7;
    border-radius: 8px;
    border: #b9d0e6 3px solid;
}

.diagram-node-group-icon {
    background-color: #DBEAF7;
    border: dashed 1px black;
    opacity: 0.35;
}

.diagram-node-group, .diagram-node-group div.diagram-node-content, .diagram-node-group div.diagram-node-content div {
    height: 10px !important;
    z-index: unset !important;
}

.diagram-node-group div.diagram-node-content svg {
    z-index: -1;
}

.diagram-node-group .diagram-node-label {
    position:absolute;
    width: 100%;
    top: -20px;
}

.diagram-node-fork-icon {
    background: url(menu-fork.png) no-repeat scroll center center transparent;
}

.diagram-node-fork .diagram-node-content {
    background: url(fork.png) no-repeat scroll center center transparent;
}

.diagram-node-join-icon {
    background: url(menu-join.png) no-repeat scroll center center transparent;
}

.diagram-node-join .diagram-node-content {
    background: url(join.png) no-repeat scroll center center transparent;
}

.diagram-node-state-icon {
    background: url(menu-state.png) no-repeat scroll center center transparent;
}

.diagram-node-state .diagram-node-content {
    background: url(state.png) no-repeat scroll center center transparent;
}

.diagram-node-end-icon {
    background: url(menu-end.png) no-repeat scroll center center transparent;
}

.diagram-node-end .diagram-node-content {
    background: url(end.png) no-repeat scroll center center transparent;
}

.diagram-node-start-icon {
    background: url(menu-start.png) no-repeat scroll center center transparent;
}

.diagram-node-start .diagram-node-content {
    background: url(start.png) no-repeat scroll center center transparent;
}

.diagram-node-condition-icon {
    background: url(menu-condition.png) no-repeat scroll center center transparent;
}

.diagram-node-condition .diagram-node-content {
    background: url(condition.png) no-repeat scroll center center transparent;
}
