.carousel .yui3-scrollview {
    height: 100%;
}

.carousel.widget-swipe .yui3-scrollview {
    white-space: nowrap;
}

.carousel.widget-swipe .carousel-item {
    display: inline-block;
    position: static;
}
