.carousel {
    overflow: hidden;
    position: relative;
}

.carousel-content {
    position: relative;
}

.carousel-item {
    display: none;
    width: 100%;
    z-index: 1;
}

.carousel-item-transition {
    display: block;
    position: absolute;
    z-index: 2;
}

.carousel-item-active {
    display: block;
    z-index: 3;
}

.carousel-item-active-transition {
    position: absolute;
}

.carousel.carousel-outside-menu .carousel-menu {
    text-align: center;
}

.carousel.carousel-outside-menu .carousel-menu menu {
    background: none;
    display: inline-block;
    position: static;
}

.carousel menu {
    background: #000;
    bottom: 6px;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 3px;
    right: 6px;
    z-index: 4;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.carousel menu li, .carousel menu a {
    float: left;
}

.carousel-menu-item {
    background: #474A4B;
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-indent: -999999px;
}

.carousel-menu-next, .carousel-menu-play, .carousel-menu-pause, .carousel-menu-prev {
    height: 18px;
    width: 18px;
    margin: 0 3px;
}

.carousel-menu-next {
    background-image: url(next.png);
}

.carousel-menu-play {
    background-image: url(play.png);
}

.carousel-menu-pause {
    background-image: url(pause.png);
}

.carousel-menu-prev {
    background-image: url(prev.png);
}

.carousel-menu-index {
    height: 9px;
    margin: 4px 3px;
    width: 9px;
}

.carousel-menu-active {
    background: #FFF;
}

.carousel.carousel-outside-menu .carousel-menu-active {
    background: #aaa;
}

.carousel-hidden {
    display: none;
}