.yui3-skin-sam .timepicker-popover .yui3-aclist-item-active, .yui3-skin-sam .timepicker-popover .yui3-aclist-item-hover {
    background: whitesmoke;
    color: #000;
}
.yui3-skin-sam .timepicker-popover .yui3-aclist-content {
    background: #fff;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}