.textboxlist-content {
	border: 1px solid #999;
	overflow: hidden;
	padding: 4px 5px 0;
}

.textboxlist-content .field-input-text {
	border-width: 0;
	outline-width: 0;
	padding: 3px 0 2px;
}

.textboxlistentry-holder {
	list-style: none;
	margin: 0;
}

.textboxlistentry-holder li {
	float: left;
	line-height: 1;
	margin: 0 5px 4px 0;
}

.textboxlistentry {
	background-color: #dee7f8;
	border: 1px solid #cad8f3;
	padding: 5px 25px 5px 11px;
	position: relative;
}

.textboxlistentry-focused {
	background-color: #598bec;
	border-color: #224fa8;
	color: #fff;
	outline-width: 0;
}

.textboxlistentry-close {
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 3px;
}

.textboxlistentry-close-hover {
	background-color: #cad8f3;
}

.textboxlistentry-focused .textboxlistentry-close {
	background-color: #fff;
}