.textboxlist-content {
	border: 1px solid #999;
	overflow: hidden;
	padding: 4px 5px 0;
}

.textboxlist-content input[type="text"].field-input-text, .textboxlist-content input[type="text"].field-input-text:focus {
	box-shadow: none;
}

.textboxlist-content .field-input-text {
	border-width: 0;
	outline-width: 0;
	padding: 3px 0 2px;
}

.textboxlist-input-container input {
	margin-bottom: 4px;
	margin-top: 3px;
}

.textboxlistentry-holder {
	list-style: none;
	margin: 0;
}

.textboxlistentry-holder li {
	float: left;
	line-height: 1;
	margin: 0 5px 4px 0;
}

.textboxlistentry {
	background-color: #DEE7F8;
	border: 1px solid #CAD8F3;
	padding: 7px 11px;
	position: relative;
}

.textboxlistentry-focused {
	background-color: #598BEC;
	border-color: #224FA8;
	color: #FFF;
	outline-width: 0;
}

.textboxlistentry-focused .textboxlistentry-remove {
	background-color: #FFF;
}

.textboxlistentry-remove, .textboxlistentry-text {
	vertical-align: middle;
}

.textboxlistentry-remove {
	border-radius: 50%;
	color: #D21212;
	cursor: pointer;
	margin-left: 5px;
	padding: 1px;
	text-align: center;
}

.textboxlistentry-remove .icon-remove {
	margin-top: 0;
}

.textboxlistentry-remove-hover {
	background-color: #CAD8F3;
}