@media (max-width: 767px) {
	.scheduler-base-content .scheduler-base-view-date,
	.scheduler-base-content .scheduler-base-controls,
	.scheduler-base-content .scheduler-base-controls .btn-group,
	.scheduler-base-content .scheduler-base-views {
	    text-align: center;
	    width: 100%;
	}

	.scheduler-base-controls .btn-group .scheduler-base-today {
	    width: 50%;
	}

	.scheduler-base-hd .btn-group button {
	    width: 25%;
	}

	.scheduler-base-views button {
	    float: none;
	}
}