.aui-scheduler-view-day-hidden,
.aui-scheduler-view-month-hidden,
.aui-scheduler-view-table-hidden,
.aui-scheduler-view-week-hidden,
.aui-scheduler-view-year-hidden { display: none }

.aui-scheduler-view-day-table {
    border: 0;
    clear: both;
    margin-top: -1px;
    table-layout: fixed;
    width: 100%;
    height: 1251px;
}

.aui-scheduler-view-day-table-col {
    border-left: 1px solid #ddd;
    vertical-align: top;
    padding: 0;
}

.aui-scheduler-view-day-table-col-shim {
    height: 1248px;
    margin-bottom: -1248px;
    position: relative;
}

.aui-scheduler-view-day-table-colblank { width: 60px }

.aui-scheduler-view-day-table-coltime {
    border-left: 0;
    color: #555;
    text-align: right;
    width: 60px;
}

.aui-scheduler-view-day-table-time {
    height: 52px;
    border-top: 1px solid #ddd;
    margin-top: -1px;
    padding-right: 1px;
}

.aui-scheduler-view-scrollable {
    position: relative;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}

.aui-scheduler-view-noscroll {
    position: relative;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

.aui-scheduler-view-content { position: relative }

.aui-scheduler-view-colgrid { background: #ddd }

.aui-scheduler-view-colgrid td { padding: 0 0 0 1px }

.aui-scheduler-view-grid {
    background: #fff;
    position: relative;
}

.aui-scheduler-view-day-header-table {
    width: 100%;
    table-layout: fixed;
}

.aui-scheduler-view-markers {
    position: absolute;
    width: 100%;
    z-index: 0;
}

.aui-scheduler-view-markercell { height: 52px }

.aui-scheduler-view-marker-division {
    height: 25px;
    border-bottom: 1px dotted #ddd;
    border-top: 1px solid #ddd;
}

.aui-scheduler-view-day-content .yui3-widget-hd {
    border-bottom: 1px solid #ddd;
    color: #555;
}

.aui-scheduler-view-day-content .yui3-widget-bd { height: 600px }

.aui-scheduler-view-day-resizer {
    bottom: 0;
    cursor: ns-resize;
    display: block;
    height: 6px;
    left: 0;
    position: absolute;
    width: 100%;
}

.aui-scheduler-view-day-resizer-icon {
    bottom: -4px;
    left: 50%;
    margin-left: -8px;
    position: absolute;
}

.aui-scheduler-view-day-header-day-first { width: 60px }

.aui-scheduler-view-day-header-day-pad-right { width: 15px }

.aui-scheduler-view-day-header-day a {
    color: #555;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    display: block;
}

.aui-scheduler-view-day-header-day a:hover { text-decoration: underline }

.aui-scheduler-view-day-header-day { text-align: center }

.aui-scheduler-view-day-header-view-label {
    margin: 0 1px;
    position: absolute;
    text-align: right;
    top: 26px;
    width: 60px;
}

.aui-scheduler-view-day { background: #fff }
.aui-scheduler-view-table-lasso {
    background: #000;
    filter: alpha(opacity=4);
    opacity: 0.04;
    position: absolute;
}

.aui-scheduler-view-day .aui-scheduler-view-table {
    margin: 5px 15px 5px 62px;
}

.aui-scheduler-view-day .aui-scheduler-view-table .yui3-widget-hd {
    display: none;
}

.aui-scheduler-view-day .aui-scheduler-view-table .aui-scheduler-view-table-data-col {
    padding-top: 4px;
}

.aui-scheduler-view-day .aui-scheduler-view-table .aui-scheduler-view-table-data-col-title {
    display: none;
}
.aui-scheduler-view-day .aui-scheduler-view-table .aui-scheduler-view-table-grid {
    border: 1px solid #DDDDDD;
    border-left: none;
}

.aui-scheduler-view-table-more {
    display: inline-block;
    margin-left: 3px;
    text-decoration: none;
}

.aui-scheduler-view-table-events-overlay-node {
    -moz-border-radius: 6px;
    -moz-box-shadow: 0 1px 12px rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0 1px 12px rgba(0,0,0,0.3);
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #BBBBBB;
    box-shadow: 0 1px 12px rgba(0,0,0,0.3);
    padding: 6px;
}

.aui-scheduler-view-table-events-overlay-close {
    display: block;
    margin-top: 4px;
    text-align: center;
    text-decoration: none;
}

.aui-scheduler-view-table-events-overlay-node .aui-scheduler-event {
    margin: 2px;
}

.aui-scheduler-view-table-events-overlay-node .aui-scheduler-event-content {
    display: inline;
}

.aui-scheduler-view-table-dragging .aui-scheduler-view-table-data-event-left .aui-icon,
.aui-scheduler-view-table-dragging .aui-scheduler-view-table-data-event-right .aui-icon {
    display: none;
}

.aui-scheduler-view-table-proxy-node {
    border: 1px solid;
    font-size: 11px;
    padding: 0 2px;
}