@import "compass";

.aui-scheduler-view-agenda-metal {
	@include background(linear-gradient(#fff, #f5f5f5));
}

.aui-scheduler-view-agenda-info-container {
	border: 1px solid #e4e4e4;
	color: #6a6a6a;
	font-size: 1.1em;
	margin: 10px 20px;

	@include border-radius(4px);

	.aui-scheduler-view-agenda-info {
		color: #3085d1;

		.aui-scheduler-view-agenda-info-label, .aui-scheduler-view-agenda-info-biggie {
			float: left;
		}

		.aui-scheduler-view-agenda-info-label {
			padding: 10px;
		}

		.aui-scheduler-view-agenda-info-biggie {
			border-right: 1px solid #E4E4E4;
			font-size: 4em;
			padding: 25px 0;
			text-align: center;
			width: 100px;

			@include border-radius(4px 0 0 4px);
		}

		.aui-scheduler-view-agenda-info-label-biggie {
			font-size: 1.5em;
			padding: 5px 0;
		}

		.aui-scheduler-view-agenda-info-label-small {
			color: #6A6A6A;
			font-size: 1em;
		}
	}
}

.aui-scheduler-view-agenda-container {
	border: 1px solid #e4e4e4;
	color: #6a6a6a;
	font-size: 1.1em;
	margin: 0 20px 40px 20px;

	@include border-radius(4px);

	.aui-scheduler-view-agenda-events {
		.aui-scheduler-view-agenda-no-events {
			padding: 10px;
		}

		.aui-scheduler-view-agenda-event {
			border-bottom: 1px solid #e4e4e4;
			padding: 12px 10px;
			position: relative;

			.aui-scheduler-view-agenda-event-content {
				float: left;
			}

			.aui-scheduler-view-agenda-event-dates {
				float: right;
			}
		}

		.aui-scheduler-view-agenda-event-past .aui-scheduler-view-agenda-event-content {
			color: #999;
			text-decoration: line-through;
		}

		.aui-scheduler-view-agenda-event-selected, .aui-scheduler-view-agenda-event:hover {
			background: #fbfbfb;
		}

		.aui-scheduler-view-agenda-event-last {
			border-bottom: 0;
		}

		.aui-scheduler-view-agenda-event, .aui-scheduler-view-agenda-event-last {
			cursor: pointer;
		}

		.aui-scheduler-view-agenda-event-color {
			border: 3px solid #fff;
			height: 10px;
			left: -8px;
			position: absolute;
			top: 12px;
			width: 10px;

			@include border-radius(10px);

			background: lightBlue;
		}
	}

	.aui-scheduler-view-agenda-header {
		border-color: #e4e4e4;
		border-style: solid;
		border-width: 1px 0 2px 0;
		padding: 10px;

		.aui-scheduler-view-agenda-header-day {
			float: left;
			text-transform: uppercase;
		}

		.aui-scheduler-view-agenda-header-extra {
			cursor: pointer;
			float: right;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.aui-scheduler-view-agenda-header-first {
		border-top-width: 0;

		@include border-radius(4px 4px 0 0);
	}
}