.aui-scheduler-base-content {
    border-color: #ddd;
    border-style: solid;
    border-width: 0 1px 1px;
    overflow: hidden;
}

.aui-scheduler-base-nav {
    width: 61px;
    padding: 5px;
}

.aui-scheduler-base-nav .aui-scheduler-base-icon-next,
.aui-scheduler-base-nav .aui-scheduler-base-icon-prev { float: left }

.aui-scheduler-base-nav .aui-scheduler-base-icon-next { margin-left: 3px }

.aui-scheduler-base-hd {
    border-color: #DDD;
    border-width: 1px 0 1px 0;
    border-style: solid;
    color: #1D1D1D;
}

.aui-scheduler-base-controls { float: left }

.aui-scheduler-base-views { float: right }

.aui-scheduler-base-controls {
    line-height: 27px;
    width: 350px;
}

.aui-scheduler-base-views {
    line-height: 27px;
    width: 160px;
}

.aui-scheduler-base-controls .aui-scheduler-base-current-date,
.aui-scheduler-base-controls .aui-scheduler-base-nav,
.aui-scheduler-base-controls .aui-scheduler-base-today { float: left }

.aui-scheduler-base-views .aui-scheduler-base-view {
    color: #1D1D1D;
    float: left;
    margin-right: 10px;
}

.aui-scheduler-base-controls .aui-scheduler-base-today {
    color: #1D1D1D;
    margin: 0 5px 0 10px;
}

.aui-scheduler-base-controls .aui-scheduler-base-current-date { font-weight: bold }
