.aui-scheduler-event-hidden {
	display: none;
}

.aui-scheduler-event-content {
	text-align: left;
}

.aui-scheduler-event-title {
	font: bold 80% Verdana,sans-serif;
/*	background: #A32929;*/
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
}

.aui-scheduler-event.aui-scheduler-event-repeated {
	opacity: 0.8;
	-ms-filter: alpha(opacity=80);
	filter: alpha(opacity=80);
}

.aui-dd-proxy .aui-scheduler-event {
	opacity: .7;
    filter: alpha(opacity=70);
}

.aui-scheduler-event.aui-scheduler-event-proxy {
	position: relative;
	opacity: .7;
    filter: alpha(opacity=70);
	width: 99.88%;
}

.aui-scheduler-event {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

/*	background: #D96666;*/
/*	border: 1px solid #A32929;*/
	color: #FFFFFF;
	height: 70px;
	left: 0;
	position: absolute;
	top: 0;
	width: 95%;
	z-index: 400;
	overflow: hidden;
}

.aui-scheduler-today {
	background: #FFF7D7;
	border: 1px solid #FAD163;
	border-width: 0 1px;
}

.aui-scheduler-today-hd {
	background: #FAD163;
	border: 1px solid #FAD163;
	border-top: 0;
	border-bottom: 0;
}


/* month */
.aui-scheduler-view-month-header-day {
	text-align: center;
}

.aui-scheduler-view-month-header-table {
	width: 100%;
	table-layout: fixed;
}

.aui-scheduler-view-month-content .aui-widget-hd {
	background-color: #E3E9FF;
	border-bottom: 1px solid #BBCCFF;
	color: #AAADBC;
}

.aui-scheduler-view-month-header-day div {
	font-size: 11px;
	font-weight: normal;
}

.aui-scheduler-view-month-content .aui-widget-bd {
/*	height: 500px;*/
}

.aui-scheduler-view-month-container {
	height: 100%;
	position: relative;
	white-space: nowrap;
	line-height: 14px;
}

.aui-scheduler-view-month-row-container {
	background: #fff;
/*	border-bottom: 1px solid #BBCCFF;*/
/*	border-top: 1px solid #BBCCFF;*/
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.aui-scheduler-view-month-row {
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
}


.aui-scheduler-view-month-table-grid-first {
	border-top: 0;
}

.aui-scheduler-view-month-table-grid {
	height: 100%;
	left: 0;
	position: absolute;
	table-layout: fixed;
	top: 0;
	width: 100%;

/*	border-top: 1px solid #DDDDDD;*/
}

.aui-scheduler-view-month-colgrid {
	border-left: 1px solid #DDDDDD;
/*	height: 100%;*/
}

.aui-scheduler-view-month-colgrid-first {
	border-left: 0 none;
}

.aui-scheduler-view-month-content .aui-widget-bd {
/*	position: relative;*/
/*	position: relative;
	overflow: scroll;
	overflow-y: visible;
	overflow-x: hidden;*/
}

.aui-scheduler-view-month-table-data {
	width: 100%;
	table-layout: fixed;
	position: relative;
/*	border-top: 1px solid #DDDDDD;*/
}

.aui-scheduler-view-month-table-data-col {
/*	border-right: 1px solid #DDDDDD;*/
	border-left: 0 none;
	padding: 1px 2px 0;
}

.aui-scheduler-view-month-table-data-col-title.aui-scheduler-view-month-table-data-col-nomonth {
	background-color: #fff;
	color: #aaa;
/*	border-top: 1px solid #DDDDDD;*/
}

.aui-scheduler-view-month-table-data-first .aui-scheduler-view-month-table-data-col-title {
	border-top: 0;
}

.aui-scheduler-view-month-table-data-col-title {
	background-color: #F8F9FF;
	color: #666;
	line-height: 16px;
	overflow: hidden;
	padding-right: 2px;
	text-align: right;

	border-left: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
}

.aui-scheduler-view-month-table-data-col-title-down {
	border-top: 1px solid #FAD163;
}

.aui-scheduler-view-month-colgrid-next,
.aui-scheduler-view-month-table-data-col-title-first,
.aui-scheduler-view-month-table-data-col-title-next {
	border-left: 0;
}

.aui-scheduler-view-month-colgrid-today {
	background-color: #FFF7D7;
	border-left: 1px solid #FAD163;
	border-right: 1px solid #FAD163;
/*	border: 1px solid #FAD163;*/
/*	border-width: 0 1px;*/
}

.aui-scheduler-view-month-table-data-col-title-today {
	background: #FAD163;
	border: 1px solid #FAD163;
/*	border-width: 0 1px;*/
}

.aui-scheduler-view-month-table-data-event.aui-scheduler-view-month-table-data-event-right {
	padding-right: 16px;
}

.aui-scheduler-view-month-table-data-event.aui-scheduler-view-month-table-data-event-left {
	padding-left: 16px;
}

.aui-scheduler-view-month-table-data-event {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	background-color: #D96666;

	cursor: pointer;

	margin-bottom: 1px;

	color: white;
	overflow: hidden;
	padding: 1px 1px 1px 3px;
	white-space: nowrap;
	position: relative;
}

.aui-scheduler-view-month-table-data-event-repeated {
	background-color: transparent;
	color: #D96666;
}

.aui-scheduler-view-month-table-data-event .aui-icon-arrowstop-1-l {
	left: 0;
	position: absolute;
	top: 0;
}

.aui-scheduler-view-month-table-data-event .aui-icon-arrowstop-1-r {
	position: absolute;
	right: 0;
	top: 0;
}



.aui-scheduler-event.aui-scheduler-event-recorder {
	width: 99.88%;
	position: relative;
	opacity: .7;
    filter: alpha(opacity=70);
}





.aui-scheduler-event-recorder-form .aui-scheduler-event-recorder-field-hint {
	color: #777777;
	font-size: 0.9em;
}

.aui-scheduler-event-recorder-form .aui-scheduler-event-recorder-button-row {
	margin-top: 10px;
	text-align: center;
}

.aui-scheduler-event-recorder-form .aui-field-content {
	display: block;
	clear: both;
/*	border-bottom: 1px solid #dfdfdf;*/
	padding: 7px 0;
}

.aui-scheduler-event-recorder-form .aui-fieldset-legend {
	padding-bottom: 1em;
}

.aui-scheduler-event-recorder-form .aui-button-row {
	padding: 5px;
}

.aui-scheduler-event-recorder-recorder-overlay {
}