.combobox-content .field-content {
	float: none;
}

.combobox-content {
	white-space: nowrap;
	vertical-align: middle;
}

.combobox-content .field-content {
	display: inline-block;
}

.combobox-content .field-input {
	display: block;
}

.editable .btn-group {
	margin-top: -3px;
}

.editable .toolbar {
	display: inline-block;
	margin-left: 1px;
}