.aui-combobox-content .aui-field-content {
	float: none;
}

.aui-combobox-content {
	white-space: nowrap;
	vertical-align: middle;
}

.aui-combobox-content .aui-field-content {
	display: inline-block;
}

.aui-combobox-content .aui-field-input {
	display: block;
}

.aui-editable .aui-btn-group {
	margin-top: -3px;
}

.aui-editable .aui-toolbar {
	display: inline-block;
	margin-left: 1px;
}