.aui-panel {
}

.aui-panel-content {
	border: 1px solid #999;
}

.aui-panel-icons {
	float: right;
}

.aui-panel-hd {
	background: #ccc;
	border-bottom: 1px solid #999;
	font-weight: bold;
	padding: 2px 3px 2px 4px;
}

.aui-panel-bd {
	padding: 3px;
}

.aui-panel-ft {
	background: #eee;
	border-top: 1px solid #ccc;
	padding: 5px 10px;
	text-align: right;
	visibility: inherit;
}

.aui-panel-collapsed .aui-panel-hd {
	border-bottom-width: 0;
}

.aui-panel-hd-text {
	float: left;
	line-height: 2;
}
