.aui-editormenu-content .aui-panel-bd {
	padding: 0px;
}

.aui-editormenu-content-list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.aui-editormenu-content-list li {
	list-style: none;
}