[submodule "lib/yui3"]
	path = lib/yui3
	url = git://github.com/liferay/yui3.git
[submodule "lib/ace"]
	path = lib/ace
	url = git://github.com/ajaxorg/ace.git
[submodule "lib/builder"]
	path = lib/builder
	url = git@github.com:eduardolundgren/builder.git
