.aui-palette-container {
    border-collapse: separate;
    border-spacing: 0;
}

.aui-palette-item {
    padding: 0;
}

.aui-palette-item-inner {
    display: block;
    height: 16px;
    width: 16px;
}