.form-field {
    color: #5d6d7e;
    height: 100%;
    padding-top: 32pt;
    padding-bottom: 32pt;
}

.form-field .form-field-nested .form-field {
    padding: 5px 0 0 20px;
}

.form-field .form-field-content-toolbar {
    position: relative;
}

.form-field .form-field-content .form-group {
    margin-bottom: 0;
}

.form-field .form-field-nested .form-field {
    margin-bottom: 24pt;
}

.form-field-title {
    font-size: 13pt;
    font-weight: normal;
    margin-bottom: 24pt;
    word-wrap: break-word;
}

.form-field-help {
    color: #708091;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 11pt;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 24pt;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .form-field {
        padding-top: 20pt;
        padding-bottom: 20pt;
    }
}
