.form-field-scale-input-lower-value {
    float: left;
}

.form-field-scale-input-higher-value {
    float: right;
}

.form-field-scale-rail {
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    height: 10px;
}

.form-field-scale-range {
    height: 50px;
    line-height: 50px;
}

.form-field-scale-slider {
    position: relative;
}

.form-field-scale-thumb {
    border-radius: 50%;
    background-color: white;
    border: 1px solid #d3d3d3;
    cursor: move;
    display: block;
    height: 30px;
    position: absolute;
    top: -11px;
    width: 30px;
    margin-left: -15px;
}

.form-field-scale-thumb p {
    text-align: center;
    margin-top: -11px;
}

.form-field-scale-thumb-tooltip {
    top: -33px;
    left: 3px;
}
