.form-field-grid table {
    width: 100%;
}

.form-field-grid th,
.form-field-grid td {
    border: 2px solid #bcc9d2;
    height: 32pt;
    font-size: 12pt;
    font-weight: normal;
    padding-left: 10px;
}
