.form-field-choice-option {
    height: 32pt;
    line-height: 32pt;
}

.form-field-choice-option-button {
    background: url(circle.png) no-repeat scroll center center transparent;
    background-size: contain;
    cursor: pointer;
    float: left;
    height: 100%;
    width: 32pt;
}

.form-field-choice-options label {
    font-family: HelveticaNeue-Light;
    font-size: 12pt;
    font-weight: normal;
    margin: 0 10px;
}

.form-field-choice-checkbox .form-field-choice-option-button {
    background: url(square.png) no-repeat scroll center center transparent;
    background-size: contain;
}

.form-field-choice-dropdown .form-field-choice-options {
    display: none;
}

.form-field-choice-dropdown .form-field-choice-dropdown-content {
    display: block;
}

.form-field-choice-dropdown-content {
    border: 2pt solid #bcc9d2;
    border-radius: 5px;
    display: none;
    height: 32pt;
    line-height: 32pt;
}

.form-field-choice-dropdown-placeholder {
    color: #bcc9d2;
    font-family: HelveticaNeue-Light;
    font-size: 12pt;
    margin-left: 10px;
}

.form-field-choice-dropdown-toggle {
    background-color: #bcc9d2;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 100%;
    text-align: center;
    width: 32pt;
}
