.form-field-scale-range {
    height: 50px;
    line-height: 50px;
}

.form-field-scale-input {
    background: url(slider.png) no-repeat scroll center center transparent;
    background-size: contain;
    float: left;
    height: 100%;
    margin-top: 2px;
    max-width: 80%;
    width: 300px;
}

.form-field-scale-input-higher-value,
.form-field-scale-input-lower-value {
    float: left;
}
