.aui-basecelleditor-hidden,
.aui-datecelleditor-hidden,
.aui-dropdowncelleditor-hidden,
.aui-textcelleditor-hidden,
.aui-textareacelleditor-hidden,
.aui-checkboxcelleditor-hidden,
.aui-radiocelleditor-hidden,
.aui-helper-hidden {
    display: none !important;
}

.aui-helper-hidden-accessible,
.aui-overlay-hidden,
.aui-overlaycontext-hidden,
.aui-overlaymask-hidden,
.aui-calendar-hidden,
.aui-date-picker-hidden,
.aui-datepicker-hidden,
.aui-colorpicker-hidden,
.aui-tooltip-hidden,
.aui-image-viewer-hidden,
.aui-image-gallery-hidden {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;

    /*Webkit and IE7 let clipped content change the scroll height of the page*/
    /*Scale webkit to 0*/
    -webkit-transform: scale(0);
    -webkit-transform-origin-x: 0px;
    -webkit-transform-origin-y: 0px;
    /*Change IE7 to using fixed*/
    *position: fixed !important;
    /*...And reset back to absolute for IE6*/
    _position: absolute !important;
}