/*
* css from datatable-scroll-core.css
*/
/* foundational CSS */
.aui-table-scrollable-x {
    _overflow-x: hidden;
    _position: relative;
}

.aui-table-scrollable-y,
.aui-table-scrollable-y .aui-table-x-scroller {
    _overflow-y: hidden;
    _position: relative;
}

.aui-table-y-scroller-container {
    overflow-x: hidden;
    position: relative;
}

.aui-table-scrollable-y .aui-table-content {
    /* To allow absolute positioning of virtual scrollbar */
    position: relative;
}

.aui-table-scrollable-y .aui-table-table .aui-table-columns {
    /* Prevent masked headers from showing during momentum scrolling */
    visibility: hidden;
}

.aui-table-scroll-columns {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.aui-table-y-scroller,
.aui-table-scrollable-x .aui-table-caption-table {
    width: 100%;
}

.aui-table-x-scroller {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}

.aui-table-scrollable-y .aui-table-y-scroller {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

.aui-table-scrollbar {
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
}

.aui-table-scrollbar div {
    position: absolute;
    width: 1px;
    visibility: hidden;
}

/* Removed because it prevented cmd + zoom resizing in Chrome (at least) */
/*
.aui-table-header {
    -webkit-text-size-adjust: none;
}
*/

/*
* custom
*/
.aui-table-sortable-column {
    cursor: pointer;
}

.aui-table-sort-liner {
    display: block;
    height: 100%;
    padding-right: 15px;
    position: relative;
}

.aui-table-sort-indicator {
    _background: url(sort-arrow-sprite-ie.png) no-repeat 0 0;
    background: url(sort-arrow-sprite.png) no-repeat 0 0;
    bottom: .5ex;
    height: 10px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 7px;
}

.aui-table-sorted .aui-table-sort-indicator {
    background-position: 0 -10px;
}
.aui-table-sorted-desc .aui-table-sort-indicator {
    background-position: 0 -20px;
}