.yui3-aui-datatable-editable {
	cursor: pointer;
}

.yui3-aui-basecelleditor .yui3-aui-buttonitem-content {
	margin: 2px 2px 0 0;
	padding: 3px 3px 1px 1px;
}

.yui3-aui-basecelleditor .yui3-aui-buttonitem-label-only {
	padding-bottom: 2px;
}

.webkit .yui3-aui-basecelleditor .yui3-aui-buttonitem-label-only {
	padding-bottom: 3px;
}

.yui3-aui-checkboxcelleditor .yui3-aui-celleditor-label,
.yui3-aui-radiocelleditor .yui3-aui-celleditor-label {
	padding-left: 3px;
}

.yui3-aui-checkboxcelleditor .yui3-aui-celleditor-wrapper,
.yui3-aui-radiocelleditor .yui3-aui-celleditor-wrapper {
	display: block;
	clear: both;
	padding: 2px 0;
}