.yui3-aui-tabview-wrapper {
	position: relative;
}

.yui3-aui-tabview-wrapper .yui3-aui-tabview-list {
	border-width: 0;
	margin: 0;
	padding: 0;
	position: relative;
	width: 9999px;
}

.yui3-aui-tabview-wrapper {
	overflow: hidden;
}

.yui3-aui-tabviewmenu-trigger {
	position: absolute;
	top: 0;
	z-index: 10;
}

.yui3-aui-tabviewmenu-list-content {
	list-style: none;
	margin: 0;
}

.yui3-aui-tabviewmenu-item {
	margin: 0;
}

.yui3-aui-tabview-list-content {
	border-width: 0;
	margin-bottom: 0;
}

.yui3-aui-tabviewmenu-trigger {
	height: 100%;
	right: 0;
	width: 20px;
}