.aui-tabview-list 
{
    position: relative;
    width: 9999px;
}

.aui-tabview-wrapper
{
    overflow: hidden;
}

.aui-tabviewmenu-trigger
{
    position: absolute;
    top: 0;
    z-index: 10;
}

.aui-tabviewmenu-list {
	position: absolute;
	margin: 0;
	list-style: none;
}

.aui-tabviewmenu-item {
	margin: 0;
}

.aui-tabview-list-content {
	margin-bottom: 0;
	border: none;
}
