.carousel menu {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.carousel menu a {
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}