.diagram-builder-anchor-node {
    background: url(anchor-default.png) no-repeat scroll center center transparent;
}
.diagram-builder-anchor-hover, .diagram-builder-anchor-node.yui3-dd-drop-active-valid {
    background: url(anchor-valid.png) no-repeat scroll center center transparent;
}
.diagram-builder-anchor-node.yui3-dd-drop-over {
    background: url(anchor-drop-active.png) no-repeat scroll center center transparent;
}
.diagram-builder .diagram-builder-field {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.diagram-builder-canvas {
    background-image: url(checker-bg.png);
    border-left: 1px solid #CCCCCC;
    outline: 0;
    z-index: 100;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-top: 1px solid #CCCCCC;
    overflow: hidden;
}
.diagram-builder-field-icon {
    width: 30px;
    height: 30px;
}
.diagram-node-task-icon {
    background: url(menu-task.png) no-repeat scroll center center transparent;
}
.diagram-node-task .diagram-node-content {
    background: url(task.png) no-repeat scroll 2px 2px transparent;
}
.diagram-node-fork-icon {
    background: url(menu-fork.png) no-repeat scroll center center transparent;
}
.diagram-node-fork .diagram-node-content {
    background: url(fork.png) no-repeat scroll center center transparent;
}
.diagram-node-join-icon {
    background: url(menu-join.png) no-repeat scroll center center transparent;
}
.diagram-node-join .diagram-node-content {
    background: url(join.png) no-repeat scroll center center transparent;
}
.diagram-node-state-icon {
    background: url(menu-state.png) no-repeat scroll center center transparent;
}
.diagram-node-state .diagram-node-content {
    background: url(state.png) no-repeat scroll center center transparent;
}
.diagram-node-end-icon {
    background: url(menu-end.png) no-repeat scroll center center transparent;
}
.diagram-node-end .diagram-node-content {
    background: url(end.png) no-repeat scroll center center transparent;
}
.diagram-node-start-icon {
    background: url(menu-start.png) no-repeat scroll center center transparent;
}
.diagram-node-start .diagram-node-content {
    background: url(start.png) no-repeat scroll center center transparent;
}
.diagram-node-condition-icon {
    background: url(menu-condition.png) no-repeat scroll center center transparent;
}
.diagram-node-condition .diagram-node-content {
    background: url(condition.png) no-repeat scroll center center transparent;
}