.form-builder-header {
    background-color: #bbb;
    color: #fff;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

.form-builder-header .form-builder-header-back {
    color: #fff;
    cursor: pointer;
    visibility: hidden;
    float: left;
    padding-left: 10px;
}

.form-builder-header .form-builder-header-title {
    color: #555;
}

.form-builder-header .form-builder-menu {
    float: right;
    padding-right: 10px;
}

.form-builder-menu .form-builder-menu-button {
    color: #fff;
    cursor: pointer;
}

.form-builder-menu .form-builder-menu-content {
    background-color: #bbb;
    line-height: 15px;
}

.form-builder-edit-layout-button .form-builder-edit-layout-button-icon {
    font-size: 12px;
    margin-right: 5px;
    margin-top: -3px;
}

.form-builder-edit-layout-button:hover {
    color: #000;
}

.form-builder-menu .menu-item .form-builder-edit-layout-button a {
    color: #fff;
}

.form-builder-field-types-list {
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-builder-modal {
    margin: 0;
    width: 452px;
}

.form-builder-modal .modal-header {
    background: #bbb;
    text-align: center;
}

.form-builder-modal .modal-body {
    background-color: #eee;
    padding: 0;
}

.form-builder-modal-content {
    border-radius: 0px;
}

.form-builder-field-settings .modal-body {
    height: 350px;
    overflow-y: auto;
}

.form-builder-layout {
    margin: 20px;
}

.form-builder-layout .layout-row {
    margin-bottom: 20px;
}

.form-builder-layout .layout-row .col {
    border: 2px solid #ccc;
    border-left: none;
    min-height: 200px;
    padding: 0;
}

.form-builder-layout .form-builder-page-break-row .col {
    min-height: 0;
}

.form-builder-layout .layout-row .col:first-child {
    border-left: 2px solid #ccc;
}

.form-builder-layout .form-builder-field {
    padding: 20px 40px;
}

.form-builder-layout .form-builder-field-nested .form-builder-field {
    padding: 5px 0 0 20px;
}

.form-builder-layout .form-builder-field-content-toolbar {
    position: relative;
}

.form-builder-layout .form-builder-field-nested .form-builder-field-content {
    margin-bottom: 10px;
}

.form-builder-layout .form-builder-field .form-builder-field-configuration,
.form-builder-layout .form-builder-field .form-builder-field-toolbar {
    position: absolute;
    right: 0;
    top: 0;
}

.form-builder-empty-col {
    cursor: pointer;
    text-align: center;
    margin-top: 45px;
}

.form-builder-empty-col .form-builder-empty-col-icon {
    font-size: 40px;
}

.form-builder-empty-col .form-builder-empty-col-label {
    font-size: 15px;
}

.form-builder-add-page-break {
    width: 100%;
}
