.form-builder-field-wrapper {
    clear: both;
    padding: 0;
}

.form-builder-field .field-checkbox, .form-builder-field .field-radio {
    float: left;
    margin-right: 5px;
}

.form-builder-field .btn-toolbar {
    position: absolute;
    right: 10px;
    top: 10px;
}