.form-builder-field-sentence-title {
    font-size: 13pt;
    font-weight: normal;
    margin-bottom: 24pt;
}

.form-builder-field-sentence-help {
    color: #708091;
    font-family: HelveticaNeue-LightItalic;
    font-size: 11pt;
    margin-bottom: 24pt;
}
