.form-field {
    position: relative;
}

.form-field .form-builder-field-content-toolbar {
    position: relative;
}

.form-builder-field-footer-content {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px 30px;
    background-color: #ccc;
}

.form-builder-field-settings-content .modal-body {
    max-height: 450px;
    overflow-y: auto;
}

.form-builder-field-settings-panel .tab-pane {
    display: none;
}

.form-builder-field-settings-panel .tab-pane.active {
    display: block;
    margin-top: 20px;
}

.form-builder-field-settings-panel-advanced {
    border-bottom: none;
    padding: 10px 30px 0;
}

.form-builder-field-settings-panel-advanced-button {
    background-color: #C0C0C0;
    border-radius: 0px;
    display: block;
    width: 100%;
}

.form-builder-field-settings-panel-content {
    border-bottom: none;
    padding: 10px 30px 0;
}
