.field-types-list {
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-builder-modal {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
}

.form-builder-modal-content {
    border-radius: 0px;
}

.form-builder-field-list {
    margin: 20px;
}

.form-builder-field-list .layout-row {
    margin-bottom: 20px;
}

.form-builder-field-list .layout-row .col {
    border: 2px solid #ccc;
    border-left: none;
    min-height: 200px;
    padding: 0;
}

.form-builder-field-list .layout-row .col:first-child {
    border-left: 2px solid #ccc;
    padding-left: 15px;
}

.form-builder-field-list .layout-row .col:last-child {
    padding-right: 15px;
}

.form-builder-empty-col {
    cursor: pointer;
    text-align: center;
    margin-top: 65px;
}

.form-builder-empty-col .form-builder-empty-col-icon {
    font-size: 40px;
}

.form-builder-empty-col .form-builder-empty-col-label {
    font-size: 15px;
}
