/* Fields inside drag container */

.aui-form-builder-drag-container .aui-form-builder-field {
	border: 1px solid #CCCCCC;
	cursor: pointer;
	margin: 5px 0;
	padding: 10px 0;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.aui-form-builder-drag-container .aui-form-builder-field:hover {
	border: 1px solid #000000;
}

.aui-form-builder-drag-container .aui-form-builder-inactive {
	cursor: auto;
	filter:alpha(opacity=50);
	opacity: .5;
	zoom: 1;
}

.aui-form-builder-drag-container .aui-form-builder-inactive:hover {
	border: 1px solid #CCCCCC;
}

.aui-form-builder-field-node {
	clear: both;
	display: block;
}

/* Fields inside drop container */

.aui-form-builder-drop-container .aui-form-builder-field,
.aui-form-builder-drop-container .aui-form-builder-default-message {
	background-image: url(form_builder_bg.png);
	border: 1px solid #C6D9F0;
	list-style: none;
	margin: 5px;
	padding: 3px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.aui-form-builder-drop-container .aui-form-builder-field fieldset {
	border: 2px solid #CCCCCC;
	margin: 20px 10px 10px 10px;
	padding: 5px;
}

.aui-form-builder-drop-container .aui-form-builder-field-selected,
.aui-form-builder-drop-container .aui-form-builder-default-message {
	background: none repeat scroll 0 0 #FFFFCC;
	border: 1px solid #FFCC00;
}

.aui-form-builder-drop-container .aui-form-builder-default-message {
	padding: 15px 10px;
}

/* Fields */

.aui-form-builder-field {
	list-style: none;
	margin: 15px 5px;
	padding: 10px 10px 10px 0;
	position: relative;
}

.aui-form-builder-field .aui-field-input-radio {
	margin: 2px 5px 0 0;
}

.aui-form-builder-field .aui-field-checkbox {
	float: left;
	margin: 1px 5px 0 0;
}

.aui-form-builder-field .aui-field-label {
	float: left;
	margin-right: 5px;
}

.aui-form-builder-field .aui-form-builder-required {
	color: #FF0000;
	float: left;
	margin: 0 5px 0 0;
}

.aui-form-builder-field .aui-form-builder-icon-tip {
	background: transparent url(help.png) no-repeat;
	display: block;
	float: left;
	height: 16px;
	width: 16px;
}

.aui-form-builder-field .aui-form-builder-field-content {
	padding: 15px;
}

/* Reset priority */

.aui-form-builder-field-node.aui-w25 {
	width: 25%;
}

.aui-form-builder-field-node.aui-w50 {
	width: 50%;
}

.aui-form-builder-field-node.aui-w100 {
	width: 100%;
}

/* Field icons */

.aui-form-builder-drag-container .aui-form-builder-field-icon {
	display: block;
	float: left;
	margin: 2px 5px 0px 5px;
	height: 15px;
	width: 15px;
}

.aui-form-builder-field-icon-button {
	background: url(button.png) no-repeat center center;
}

.aui-form-builder-field-icon-checkbox {
	background: url(checkbox.png) no-repeat center center;
}

.aui-form-builder-field-icon-fieldset {
	background: url(form_group.png) no-repeat center center;
}

.aui-form-builder-field-icon-fileupload {
	background: url(image_uploader.png) no-repeat center center;
}

.aui-form-builder-field-icon-radio {
	background: url(options.png) no-repeat center center;
}

.aui-form-builder-field-icon-select {
	background: url(selectbox.png) no-repeat center center;
}

.aui-form-builder-field-icon-textarea {
	background: url(textbox.png) no-repeat center center;
}

.aui-form-builder-field-icon-text {
	background: url(text_field.png) no-repeat center center;
}

.aui-form-builder-settings .aui-field-input-checkbox {
	margin: 5px 5px 0 0;
}

.aui-form-builder-settings .aui-field-input-select {
	width: 100%;
}

.aui-form-builder-settings .aui-field-checkbox {
	float: left;
	width: 100%;
}

.aui-form-builder-tabs-container .aui-tabview-content .aui-field-text {
	display: block;
	margin: 5px 0;
}

.aui-form-builder-tabs-container .aui-textarea-content textarea {
	width: 97% !important;
}

/* Options */

.aui-form-builder-settings .aui-field-text p {
	margin: 0;
}

.aui-form-builder-settings .aui-field-options-item-input {
	width: 90px;
}

.aui-form-builder-settings .aui-field-options-item-remove {
	background: url(remove.png) no-repeat center center;
	display: block;
	float: right;
	height: 16px;
	margin-top: 3px;
	text-decoration: none;
	width: 15px;
}

.aui-form-builder-settings  .aui-field-options-add {
	background: url(add.png) no-repeat 0 center;
	color: #000000;
	display: block;
	float: right;
	margin-top: 6px;
	text-decoration: none;
	padding-left: 25px;
}
