.form-builder-content {
    background-color: #ecedee;
}

.form-builder-header {
    background-color: #00a3ff;
    color: #fff;
    font-family: HelveticaNeue-Light;
    font-size: 20px;
    height: 56pt;
    line-height: 56pt;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .form-builder-header {
        font-size: 17px;
    }

    .form-builder-header .form-builder-header-back,
    .form-builder-header .form-builder-menu {
        width: 44px;
    }
}

.form-builder-header .form-builder-header-back {
    color: #fff;
    cursor: pointer;
    visibility: hidden;
    float: left;
    width: 56pt;
}

.form-builder-header .form-builder-menu {
    float: right;
    width: 56pt;
}

.form-builder-menu .form-builder-menu-button {
    color: #fff;
    cursor: pointer;
}

.form-builder-menu .form-builder-menu-content {
    background-color: #34495e;
    font-family: HelveticaNeue-Thin;
    font-size: 20px;
    letter-spacing: 4pt;
    line-height: 15px;
    margin-top: -1px;
    text-align: center;
    text-transform: uppercase;
    width: 320px;
}

.form-builder-menu .form-builder-menu-content .menu-item {
    height: 50pt;
    line-height: 50pt;
}

.form-builder-menu .form-builder-menu-content .menu-item:hover {
    background-color: #546273;
}

.form-builder-menu .form-builder-menu-content .menu-item a:hover {
    color: #fff;
}

.form-builder-edit-layout-button .form-builder-edit-layout-button-icon {
    font-size: 12px;
    margin-right: 5px;
    margin-top: -3px;
}

.form-builder-edit-layout-button:hover {
    color: #000;
}

.form-builder-menu .menu-item .form-builder-edit-layout-button a {
    color: #fff;
}

.form-builder-modal {
    width: 300px;
}

.form-builder-modal .modal-body {
    padding: 0;
}

.form-builder-layout {
    margin: 0 80px;
}

.form-builder-pages-header {
    background-color: #FFFFFF;
    margin: 2px auto;
    text-align: center;
}

.form-builder-pages {
    padding-bottom: 5px;
}

.form-builder-pages {
    background-color: #FFFFFF;
    line-height: 0;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.form-builder-pages .form-builder-page-controls {
    position: absolute;
    top: 0;
    right: 0;
}

.form-builder-pages .pagination .pagination-content li a {
    border-radius: 0;
    border-width: 0;
    color: #ccc;
    padding: 14px 20px;
    line-height: 20px;
}

.form-builder-pages .pagination .pagination-content li a:focus {
    background-color: transparent;
}

.form-builder-pages .pagination .pagination-content li a:hover {
    background-color: #dceeff;
}

.form-builder-pages .pagination .pagination-content li.active a {
    background-color: transparent;
    color: #000;
}

.form-builder-pages:hover .glyphicon {
    color: #4fa8ff;
}

.form-builder-page-manager-add-page, .form-builder-page-manager-remove-page, .form-builder-switch-view {
    float: right;
    padding: 14px 20px;
    color: #a6d3ff;
    text-decoration: none;
    line-height: 20px;
    top: 0;
}

.form-builder-page-manager-add-page:hover, .form-builder-page-manager-remove-page:hover, .form-builder-switch-view:hover {
    background-color: #dceeff;
    text-decoration: none;
}

.form-builder-page-manager-add-page:focus, .form-builder-page-manager-remove-page:focus, .form-builder-switch-view:focus {
    background-color: transparent;
    text-decoration: none;
}

.form-builder-pages .pagination, .form-builder-pages .pagination .pagination-content {
    margin: 0;
}

.form-builder-layout .layout-row:hover .layout-builder-resize-col-draggable-border {
    border-right: 1px dotted transparent;
}

.form-builder-layout .layout-row {
    border-top: 1px dotted transparent;
    border-bottom: 1px dotted transparent;
}

.form-builder-layout .layout-row .layout-builder-resize-col-draggable {
    opacity: 0;
}

.form-builder-layout .layout-row:hover .layout-builder-resize-col-draggable,
.form-builder-layout .layout-row.layout-builder-resize-col-dragging .layout-builder-resize-col-draggable {
    opacity: 1;
}

.form-builder:hover .layout-row, .form-builder-layout .layout-row:hover .layout-builder-resize-col-draggable-border {
    border-top-color: rgb(164, 179, 191);
    border-right-color: rgb(164, 179, 191);
    border-bottom-color: rgb(164, 179, 191);
}

.form-builder-layout .layout-row {
    margin: 0;
}

.form-builder-layout .layout-row .col {
    background-color: #fff;
    padding: 0;
}

.form-builder-layout .layout-row .col:last-child {
    border-right: none;
}

.form-builder-content .layout-builder-add-row {
    display: none;
}

@media (max-width: 768px) {
    .form-builder-layout {
        margin: 24px 20px;
    }
}