.yui3-aui-dd-proxy {
	moz-border-radius: 6px;
	webkit-border-radius: 6px;
}

.yui3-aui-form-builder-content {
	background-color: #F5F5F5;
}

/* Drag container */

.yui3-aui-form-builder-drag-container {
	margin: 0;
}

.yui3-aui-form-builder-drag-container .yui3-aui-form-builder-drag-node {
	margin: 10px;
}

.yui3-aui-form-builder-drag-container .yui3-aui-form-builder-icon {
	float: left;
	height: 15px;
	margin-right: 6px;
	top: 0;
	width: 15px;
}

/* Drop container */

.yui3-aui-form-builder-drop-container {
	border: none;
	float: left;
	width: 75%;
}
.yui3-aui-form-builder-drop-container .yui3-aui-dd-dragging {
	border-style: dashed;
	opacity: .5;
}
.yui3-aui-form-builder-drop-container .yui3-aui-form-builder-drop-zone {
	margin: 0;
	padding: 0;
}

.yui3-aui-form-builder-drop-container, .yui3-aui-form-builder-tabs-container {
	margin: 0;
	min-height: 450px;
	padding: 0;
}

/* Button icons */

.yui3-aui-form-builder-field-buttons .yui3-aui-form-builder-button {
	background: url(buttons-bg.png) no-repeat 0 -21px transparent;
	border: 1px solid #BCC7D4;
	display: inline;
	float: left;
	height: 20px;
	margin: 0 2px;
	position: relative;
	text-decoration: none;
	width: 24px;

	/* Rounded corners */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.yui3-aui-form-builder-field-buttons .yui3-aui-form-builder-icon {
	background: url(field-icons.png) no-repeat;
	height: 16px;
	left: 4px;
	position: relative;
	top: 2px;
	width: 16px;
}

.yui3-aui-form-builder-field-buttons .yui3-aui-form-builder-icon-delete {
	background-position: -32px 0;
}

.yui3-aui-form-builder-field-buttons .yui3-aui-form-builder-icon-duplicate {
	background-position: -17px 0;
}

.yui3-aui-form-builder-field-buttons .yui3-aui-form-builder-icon-edit {
	background-position: 0 0;
}

/* Placeholder */

.yui3-aui-form-builder-placeholder {
	border: 1px dashed #CCCCCC;
	height: 2px;
	list-style: none;
}

.yui3-aui-form-builder-drag-container .yui3-aui-form-builder-placeholder {
	display: none;
}

/* Settings */

.yui3-aui-form-builder-settings-buttons .yui3-aui-button-input {
	font-size: 11px;
}

/* Tabs */

.yui3-aui-form-builder-tabs-container {
	background-color: #F0F0F0;
	float: right;
	width: 25%;
}

.yui3-aui-form-builder-tabs-container .yui3-aui-form-builder-tab-add .yui3-aui-tab-label {
	background: url(add.png) no-repeat 0px -1px;
}

.yui3-aui-form-builder-tabs-container .yui3-aui-form-builder-tab-settings .yui3-aui-tab-label {
	background: url(configuration.png) no-repeat 0px -1px;
}

.yui3-aui-form-builder-tabs-container .yui3-aui-panel {
	margin: 10px 0;
}

.yui3-aui-form-builder-tabs-container .yui3-aui-tab-content {
	padding: 3px 0;
}

.yui3-aui-form-builder-tabs-container .yui3-aui-tab-label {
	padding-bottom: 5px;
	padding-left: 22px;
}

.yui3-aui-form-builder-tabs-container .yui3-aui-tabview-content-item {
	padding: 0 5px;
}

.yui3-aui-form-builder-tabs-container .yui3-aui-tabview-list {
	border: none;
}

.yui3-aui-form-builder-tabs-container .yui3-aui-tabview-list .yui3-aui-tab {
	margin: 0;
	text-align: center;
	width: 50%;
}

.yui3-aui-form-builder-tabs-container .yui3-aui-tabview-list .yui3-aui-tab .yui3-aui-tab-content {
	display: block;
	float: none;
	margin: 0 auto;
}

/* Field buttons */

.yui3-aui-form-builder-field-buttons .yui3-aui-form-builder-field-button-icon {
	background: url(button.png) no-repeat center center;
}

.yui3-aui-form-builder-field-buttons {
	padding: 5px;
	position: absolute;
	right: 0;
	top: 0;
}
