.form-builder-content .layout-builder-layout-container {
    margin-bottom: 3px;
}

.form-builder-field-move-button {
    display: none;
}

.form-builder-choose-col-move .form-builder-field-move-button {
    display: block;
    left: -25px;
    position: absolute;
    top: 0;
    z-index: 1;
}


.form-builder-field-move-target {
    background-color: #fff;
    border-color: #ccc;
    display: none;
    font-size: 12px;
    margin: 0 0 5px;
    padding: 2px 3px;
    position: relative;
    z-index: 1;
}

.form-builder-empty-col-add-button .form-builder-field-move-target {
    margin-left: auto;
    margin-right: auto;
}

.form-builder-choose-col-move-target .form-builder-field-move-target {
    display: block;
    visibility: visible;
}

.form-builder-choose-col-move-target .form-builder-field-moving {
    border: 1px dotted;
}

.form-builder-choose-col-move-target .form-builder-field-moving .form-builder-field-move-target,
.form-builder-choose-col-move-target .form-builder-field-move-target-invalid {
    visibility: hidden;
}

.form-builder-col-moving .form-builder-list-move-target  {
    visibility: hidden;
}

.layout-builder-move-cut-button.layout-builder-move-cut-row-button {
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    right: 14px;
    top: -10px;
}

.layout-row-container-row {
    position: relative;
}
