.aui-sortable {
}

.aui-sortable-item {
}

.aui-sortable-proxy {
	background: #ccc;
}

.aui-sortable-placeholder {
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	background: #eee;
}

.aui-sortable-dragging {
	visibility: hidden;
}

.aui-sortable-handle,
.aui-sortable-no-handles {
	cursor: move;
}