.sortable-layout-drag-indicator {
    height: 6px;
    position: absolute;
    width: 100px;
    z-index: 300;
}
.sortable-layout-drag-indicator-icon {
    position: absolute;
    top: -5px;
}
.sortable-layout-drag-indicator-icon-left {
    left: -13px;
}
.sortable-layout-drag-indicator-icon-right {
    right: -13px;
}