.buttonitem-content {
	font-size: 1em;
	line-height: 130%;
	padding: 4px 5px 3px 4px;
	margin: 2px;
	white-space: nowrap;
	width: auto;
	overflow: visible;

	*padding: 2px 5px 2px 4px;
	*width: 1;
}

.buttonitem-icon {
	display: inline-block;
	margin-top: -3px;
	vertical-align: middle;

	/* IE6/7 */
	*text-indent: 0;
	*margin-top: 1px;
}

.buttonitem-label {
	line-height: 1em;
	display: inline-block;

	/* IE6/7 */
	*line-height: 1.4em;
}

.buttonitem-label {
	padding: 0 5px;
}

.buttonitem-icon-only {
	font-size: 0;
	height: 16px;
	width: 16px;
	overflow: hidden;
	padding: 3px;

	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;

	/* IE6/7 */
	*height: 24px;
	*width: 24px;
}

.buttonitem-icon-only .buttonitem-icon {
	margin-top: 0;

	/* IE6/7 */
	*margin-top: -1px;
	*margin-left: -1px;
}

.gecko .buttonitem-icon-only .buttonitem-icon {
	margin-top: -3px;
}