.colorpicker {
	width: 315px;
}

.colorpicker-container {
	height: 228px;
	position: relative;
}

.colorpicker-canvas {
	background: #f00 url(picker_bg.png);
	background-color: #f00;
	height: 184px;
	left: 5px;
	outline: 0 none;
	position: absolute;
	top: 5px;
	width: 184px;
}

.colorpicker-controls {
	height: 115px;
	left: 226px;
	position: absolute;
	top: 75px;
	width: 80px;
}

.colorpicker-controls .field-content .field-label {
	margin-top: 0;
	width: 20%;
}

.colorpicker-controls .field-content .field-input-text {
	padding: 1px;
	width: 60%;
}

.colorpicker-controls .field-content {
	clear: both;
	padding: 3px 0;
}

.colorpicker-hue-thumb {
	cursor: default;
	height: 7px;
	position: absolute;
	width: 18px;
}

.colorpicker-hue-thumb-image {
	background: url(color_indic.png) no-repeat 0 0;
	display: block;
	height: 7px;
	margin-left: -2px;
	margin-top: -2px;
	width: 18px;
}

.colorpicker-hue-canvas {
	background: url(hue.png) no-repeat -2px -2px;
	height: 186px;
	left: 200px;
	outline: 0 none;
	position: absolute;
	top: 5px;
	width: 14px;
}

.colorpicker-mask {
	left: 0;
	position: absolute;
	top: 0;
}

.colorpicker-swatch {
	border: 2px solid #727C81;
	height: 60px;
	left: 226px;
	position: absolute;
	top: 5px;
	width: 60px;
}

.colorpicker-swatch-current,
.colorpicker-swatch-original {
	background: #fff;
	height: 30px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.colorpicker-swatch-original {
	top: auto;
	bottom: 0;
	cursor: pointer;
}

.colorpicker-thumb {
	cursor: default;
	position: absolute;
}

.colorpicker-thumb-image {
	background: url(select.png) no-repeat 0 0;
	display: block;
	height: 11px;
	width: 11px;
}

.colorpicker-container .colorpicker-hue-slider-content {
	display: inline;
	position: static;
}