.aui-calendar {
	width: 200px;
}

.aui-calendar-content {
	border: 1px solid #ddd;
	padding: 3px;
}

.aui-calendar-hd {
	padding: 5px;
	position: relative;
}

.aui-calendar-hd .aui-icon {
	position: absolute;
	top: 5px;
}

.aui-calendar-hd .aui-icon-circle-triangle-l {
	left: 2px;
}

.aui-calendar-hd .aui-icon-circle-triangle-r {
	right: 2px;
}

.aui-calendar-title {
	font-weight: bold;
	line-height: 16px;
	margin: 0 15px;
	text-align: center;
}

.aui-calendar-week {
	float: left;
	text-align: center;
	width: 14.2%;
}

.aui-calendar-day {
	color: #000;
	float: left;
	margin: 0 0.5% 2% 0.5%;
	text-align: center;
	text-decoration: none;
	width: 13.2%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.aui-calendar-day-padding-end, .aui-calendar-day-padding-start {
	border: 1px dashed #aaa;
	opacity: 0.50;
	-ms-filter: alpha(opacity=50);
	filter: alpha(opacity=50);
}

.aui-calendar-day-hidden {
	display: none;
}

.aui-calendar-disabled {
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
	border-style: solid;
	border-width: 1px;

	opacity: 0.30;
	-ms-filter: alpha(opacity=30);
	filter: alpha(opacity=30);
}

.aui-calendar-link {
	text-decoration: none;
}

.aui-calendar-link-today {
	float: left;
}

.aui-calendar-link-none {
	float: right;
}

.ie6 .aui-calendar-week {
	width: 27px;
}

.ie6 .aui-calendar-day {
	width: 23px;
}

.ie6 .aui-calendar-day-blank {
	width: 23px;
}

.ie7 .aui-calendar-week {
	width: 27px;
}

.ie7 .aui-calendar-day {
	width: 23px;
}

.ie7 .aui-calendar-day-blank {
	width: 24px;
}