.form-builder-field {
    background: #FFF;
    border-top: 5px solid transparent;
    margin: 8px 6px 0;
    outline: none;
    padding: 10px;
    position: relative;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px #c4c4c4;
    box-shadow: 0 1px 2px #c4c4c4;
    background-color: #fff;
}
.form-builder-field label {
    float: left;
    margin-right: 5px;
}
.form-builder-field .form-builder-field-node {
    clear: both;
    display: block;
}
.form-builder-field-hover {
    border-color: #ccc;
}
.form-builder-field-selected {
    border-color: #76a7fa;
}
/* Field icons */
 .form-builder-field-icon {
    background-position: center center;
    background-repeat: no-repeat;
}
.form-builder-field-icon-button {
    background-image: url(icon-button.png);
}
.form-builder-field-icon-checkbox {
    background-image: url(icon-checkbox.png);
}
.form-builder-field-icon-date {
    background-image: url(icon-date.png);
}
.form-builder-field-icon-decimal {
    background-image: url(icon-decimal.png);
}
.form-builder-field-icon-default {
    background-image: url(icon-default.png);
}
.form-builder-field-icon-document {
    background-image: url(icon-document.png);
}
.form-builder-field-icon-fieldset {
    background-image: url(icon-fieldset.png);
}
.form-builder-field-icon-fileupload {
    background-image: url(icon-fileupload.png);
}
.form-builder-field-icon-integer {
    background-image: url(icon-integer.png);
}
.form-builder-field-icon-number {
    background-image: url(icon-number.png);
}
.form-builder-field-icon-paragraph {
    background-image: url(icon-paragraph.png);
}
.form-builder-field-icon-password {
    background-image: url(icon-password.png);
}
.form-builder-field-icon-radio {
    background-image: url(icon-radio.png);
}
.form-builder-field-icon-select {
    background-image: url(icon-select.png);
}
.form-builder-field-icon-separator {
    background-image: url(icon-separator.png);
}
.form-builder-field-icon-text {
    background-image: url(icon-text.png);
}
.form-builder-field-icon-textarea {
    background-image: url(icon-textarea.png);
}