<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../../build/aui-css/css/bootstrap.css">
    <script src="../../build/aui/aui.js"></script>
    <style>
        .col {
            background-color: #ddd;
            border: 1px solid #ccc;
            height: 62px;
        }
        .container {
            width: 80%;
            margin-left: 10px;
        }
        .row {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <h1>Layout Demo</h1>

    <div class="container"></div>
</div>

<script type="text/javascript" charset="utf-8">
    YUI({ filter:'raw' }).use('aui-layout-builder', function(Y) {
        var Content = Y.Base.create('content', Y.Base, [], {}, {
            ATTRS: {
                content: {
                    value: 'foo'
                }
            }
        });

        var layout = new Y.Layout({
            rows: [
                new Y.LayoutRow({
                    cols: [
                        new Y.LayoutCol({
                            value: new Content({ content: '3' }),
                            size: 3
                        }),
                        new Y.LayoutCol({
                            value: new Content({ content: '3' }),
                            size: 3
                        }),
                        new Y.LayoutCol({
                            value: new Content({ content: '3' }),
                            size: 3
                        }),
                        new Y.LayoutCol({
                            size: 3,
                            value: new Content({ content: '3' })
                        })
                    ]
                }),
                new Y.LayoutRow({
                    cols: [
                        new Y.LayoutCol({
                            size: 6,
                            value: new Content({ content: '6' })
                        }),
                        new Y.LayoutCol({
                            size: 6,
                            value: new Content({ content: '6' })
                        })
                    ]
                }),
                new Y.LayoutRow({
                    cols: [
                        new Y.LayoutCol({
                            size: 9,
                            value: new Content({ content: '9' })
                        }),
                        new Y.LayoutCol({
                            size: 3,
                            value: new Content({ content: '3' })
                        })
                    ]
                }),
                new Y.LayoutRow({
                    cols: [
                        new Y.LayoutCol({
                            size: 8,
                            value: new Content({ content: '8' })
                        }),
                        new Y.LayoutCol({
                            size: 4,
                            value: new Content({ content: '4' })
                        })
                    ]
                }),
                new Y.LayoutRow({
                    cols: [
                        new Y.LayoutCol({
                            value: new Content({ content: '4' }),
                            size: 4
                        }),
                        new Y.LayoutCol({
                            value: new Content({ content: '4' }),
                            size: 4
                        }),
                        new Y.LayoutCol({
                            value: new Content({ content: '4' }),
                            size: 4
                        })
                    ]
                }),
                new Y.LayoutRow({
                    cols: [
                        new Y.LayoutCol({
                            value: new Content({ content: '3' }),
                            size: 3
                        }),
                        new Y.LayoutCol({
                            value: new Content({ content: '3' }),
                            size: 3
                        }),
                        new Y.LayoutCol({
                            value: new Content({ content: '6' }),
                            size: 6
                        })
                    ]
                })
            ]
        });

        new Y.LayoutBuilder({
            container: '.container',
            layout: layout
        });
    });
</script>
</body>
</html>