.aui-tabview-wrapper {
	border: 1px solid #C8C9CA;
	margin-bottom: 1em;
}

.aui-tabview-wrapper .aui-tab-active:after {
	border: 10px solid;
	border-top-width: 0;
	border-color: transparent transparent #fff;
	bottom: -5px;
	content: '-';
	display: block;
	height: 0;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	text-indent: -9999px;
	width: 0;
	z-index: 20;
}

.aui-tabviewmenu-trigger {
	background: url(menu_trigger_bg.png) no-repeat 0 50%;	
}

.aui-tabviewmenu-item {
	border-bottom: 1px solid #DEDEDE;
	padding: 2px;
}

.aui-tabviewmenu-item a {
	padding: 2px 5px;
	text-decoration: none;
	color: #336699;
}

.aui-tabviewmenu-item a:hover {
	background: #ccc;
}

.aui-tabviewmenu-list {
	position: absolute;
	width: auto;
}

.aui-tabviewmenu-list-content {
	background: #FFF;
	min-width: 150px;
}

.aui-tabviewmenu-list-content {
	background: #CCC9C9 url(../../../../../build/aui-skin-classic/images/menu/bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #AEAFB1 #777879 #777879 #AEAFB1;
	padding: 2px 0;
}

.aui-tabviewmenu-list-content li {
	border-bottom: 1px solid #BCBBBB;
	border-top: 1px solid #EEE;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.ie7 .aui-tabviewmenu-list-content li {
	z-index: 10;
}

.aui-tabviewmenu-list-content li.first {
	border-top-width: 0;
}

.aui-tabviewmenu-list-content li.last {
	border-bottom-width: 0;
}

.aui-tabviewmenu-list-content li a {
	color: #2C2F34;
	display: block;
	padding: 4px 5px;
	text-decoration: none;
}

.aui-tabviewmenu-list-content li a:hover {
	background-color: #5B677D;
	color: #FFF;
	text-shadow: -1px -1px #2C2F34;
}

.aui-tabviewmenu-list-content a {
	font-weight: bold;
	text-shadow: 1px 1px #FFF;
}