.layout-resizing {
    cursor: col-resize;
}

.layout-drag-handle {
    cursor: col-resize;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    width: 5px;
    background-color: yellow;
}

.layout-grid {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    border: 1px dashed rgba(86,61,124,.2);
}
