.layout-builder-add-row {
    cursor: pointer;
}

.layout-builder-add-row-choose-row {
    background-color: white;
    border: 1px solid black;
    float: left;
    height: 50px;
    text-align: center;
    width: 100%;
}

.layout-builder-add-row-area {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.layout-builder-add-row-area.layout-builder-add-row-area-fixed {
    bottom: -30px;
    position: fixed;
}

.layout-builder-add-row-small-screen {
    background-color: #7ED321;
    border: 3px solid #BCC9D2;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    height: 45px;
    width: 45px;
}

.layout-builder-add-row-small-screen-area {
    position: relative;
    margin: 0 auto;
    width: 58px;
    text-align: center;
}

.layout-builder-add-row-small-screen-area.layout-builder-add-row-area-fixed {
    bottom: 0;
    position: fixed;
}
