.col:hover .layout-builder-move-cut-col-button {
    display: block;
}

.layout-builder-move-cut-button {
    background-image: url(cut.png);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-bottom: -7px;
    position: relative;
    width: 22px;
}

.layout-builder-move-cut-col-button {
    display: none;
    left: 10px;
    position: absolute;
    top: 0;
}

.layout-builder-move-target {
    background-color: rgb(0, 174, 255);
    margin: 0 0 15px 0;
    text-align: center;
}