/*Tooltip and Pointer CSS*/

.overlaycontextpanel {
	position: absolute;
	z-index: 9999;
}

.overlaycontextpanel-content {
	border-width: 2px;
	padding: 8px;
	position: relative;
}

.overlaycontextpanel-hidden {
	display: none !important;
	top: -10000px !important;
	left: -10000px !important;
}

.overlaycontextpanel .overlaycontextpanel-pointer,.overlaycontextpanel .overlaycontextpanel-pointer-inner {
	position: absolute;
	width: 0;
	height: 0;
	background: none;
}

/*top*/

.overlaycontextpanel-arrow-tr .overlaycontextpanel-pointer,.overlaycontextpanel-arrow-tc .overlaycontextpanel-pointer,.overlaycontextpanel-arrow-tl .overlaycontextpanel-pointer {
	top: -14px;
	border-top: 0;
	border-bottom-width: 14px;
}

.overlaycontextpanel-arrow-tr .overlaycontextpanel-pointer {
	border-left: 18px dashed transparent;
	border-right: 0;
	right: 10px;
}

.overlaycontextpanel-arrow-tc .overlaycontextpanel-pointer {
	border-left: 10px dashed transparent;
	border-right: 10px dashed transparent;
	left: 50%;
	margin-left: -10px;
}

.overlaycontextpanel-arrow-tl .overlaycontextpanel-pointer {
	border-left: 0;
	border-right: 18px dashed transparent;
	left: 10px;
}

.overlaycontextpanel-arrow-tr .overlaycontextpanel-pointer-inner,.overlaycontextpanel-arrow-tc .overlaycontextpanel-pointer-inner,.overlaycontextpanel-arrow-tl .overlaycontextpanel-pointer-inner {
	border-bottom: 10px solid #fff;
	bottom: -14px;
}

.overlaycontextpanel-arrow-tr .overlaycontextpanel-pointer-inner {
	border-left: 12px dashed transparent;
	border-right: 0;
	right: 2px;
}

.overlaycontextpanel-arrow-tc .overlaycontextpanel-pointer-inner {
	border-left: 8px dashed transparent;
	border-right: 8px dashed transparent;
	left: -8px;
}

.overlaycontextpanel-arrow-tl .overlaycontextpanel-pointer-inner {
	border-left: 0;
	border-right: 12px dashed transparent;
	left: 2px;
}

/*right*/

.overlaycontextpanel-arrow-rb .overlaycontextpanel-pointer,.overlaycontextpanel-arrow-rc .overlaycontextpanel-pointer,.overlaycontextpanel-arrow-rt .overlaycontextpanel-pointer {
	right: -14px;
	border-right: 0;
	border-left-width: 14px;
}

.overlaycontextpanel-arrow-rb .overlaycontextpanel-pointer {
	border-bottom: 0;
	border-top: 18px dashed transparent;
	bottom: 10px;
}

.overlaycontextpanel-arrow-rc .overlaycontextpanel-pointer {
	border-bottom: 10px dashed transparent;
	border-top: 10px dashed transparent;
	bottom: 50%;
	margin-bottom: -10px;
}

.overlaycontextpanel-arrow-rt .overlaycontextpanel-pointer {
	border-bottom: 18px dashed transparent;
	border-top: 0;
	top: 10px;
}

.overlaycontextpanel-arrow-rb .overlaycontextpanel-pointer-inner,.overlaycontextpanel-arrow-rc .overlaycontextpanel-pointer-inner,.overlaycontextpanel-arrow-rt .overlaycontextpanel-pointer-inner {
	border-left: 10px solid #fff;
	left: -14px;
}

.overlaycontextpanel-arrow-rb .overlaycontextpanel-pointer-inner {
	border-bottom: 0;
	border-top: 12px dashed transparent;
	bottom: 2px;
}

.overlaycontextpanel-arrow-rc .overlaycontextpanel-pointer-inner {
	border-bottom: 8px dashed transparent;
	border-top: 8px dashed transparent;
	bottom: -8px;
}

.overlaycontextpanel-arrow-rt .overlaycontextpanel-pointer-inner {
	border-bottom: 12px dashed transparent;
	border-top: 0;
	top: 2px;
}

/*bottom*/

.overlaycontextpanel-arrow-br .overlaycontextpanel-pointer,.overlaycontextpanel-arrow-bc .overlaycontextpanel-pointer,.overlaycontextpanel-arrow-bl .overlaycontextpanel-pointer {
	bottom: -14px;
	border-bottom: 0;
	border-top-width: 14px;
}

.overlaycontextpanel-arrow-br .overlaycontextpanel-pointer {
	border-left: 18px dashed transparent;
	border-right: 0;
	right: 10px;
}

.overlaycontextpanel-arrow-bc .overlaycontextpanel-pointer {
	border-left: 10px dashed transparent;
	border-right: 10px dashed transparent;
	left: 50%;
	margin-left: -10px;
}

.overlaycontextpanel-arrow-bl .overlaycontextpanel-pointer {
	border-left: 0;
	border-right: 18px dashed transparent;
	left: 10px;
}

.overlaycontextpanel-arrow-br .overlaycontextpanel-pointer-inner,.overlaycontextpanel-arrow-bc .overlaycontextpanel-pointer-inner,.overlaycontextpanel-arrow-bl .overlaycontextpanel-pointer-inner {
	border-top: 10px solid #fff;
	top: -14px;
}

.overlaycontextpanel-arrow-br .overlaycontextpanel-pointer-inner {
	border-left: 12px dashed transparent;
	border-right: 0;
	right: 2px;
}

.overlaycontextpanel-arrow-bc .overlaycontextpanel-pointer-inner {
	border-left: 8px dashed transparent;
	border-right: 8px dashed transparent;
	left: -8px;
}

.overlaycontextpanel-arrow-bl .overlaycontextpanel-pointer-inner {
	border-left: 0;
	border-right: 12px dashed transparent;
	left: 2px;
}

/*left*/

.overlaycontextpanel-arrow-lb .overlaycontextpanel-pointer,.overlaycontextpanel-arrow-lc .overlaycontextpanel-pointer,.overlaycontextpanel-arrow-lt .overlaycontextpanel-pointer {
	left: -14px;
	border-left: 0;
	border-right-width: 14px;
}

.overlaycontextpanel-arrow-lb .overlaycontextpanel-pointer {
	border-bottom: 0;
	border-top: 18px dashed transparent;
	bottom: 10px;
}

.overlaycontextpanel-arrow-lc .overlaycontextpanel-pointer {
	border-bottom: 10px dashed transparent;
	border-top: 10px dashed transparent;
	bottom: 50%;
	margin-bottom: -10px;
}

.overlaycontextpanel-arrow-lt .overlaycontextpanel-pointer {
	border-bottom: 18px dashed transparent;
	border-top: 0;
	top: 10px;
}

.overlaycontextpanel-arrow-lb .overlaycontextpanel-pointer-inner,.overlaycontextpanel-arrow-lc .overlaycontextpanel-pointer-inner,.overlaycontextpanel-arrow-lt .overlaycontextpanel-pointer-inner {
	border-right: 10px solid #fff;
	right: -14px;
}

.overlaycontextpanel-arrow-lb .overlaycontextpanel-pointer-inner {
	border-bottom: 0;
	border-top: 12px dashed transparent;
	bottom: 2px;
}

.overlaycontextpanel-arrow-lc .overlaycontextpanel-pointer-inner {
	border-bottom: 8px dashed transparent;
	border-top: 8px dashed transparent;
	bottom: -8px;
}

.overlaycontextpanel-arrow-lt .overlaycontextpanel-pointer-inner {
	border-bottom: 12px dashed transparent;
	border-top: 0;
	top: 2px;
}

.overlaycontextpanel-arrow-tl, .overlaycontextpanel-arrow-tc, .overlaycontextpanel-arrow-tr {
	margin-top: 12px;
}

.overlaycontextpanel-arrow-bl, .overlaycontextpanel-arrow-bc, .overlaycontextpanel-arrow-br {
	margin-bottom: 12px;
}

.overlaycontextpanel-arrow-lt, .overlaycontextpanel-arrow-lc, .overlaycontextpanel-arrow-lb {
	margin-left: 12px;
}

.overlaycontextpanel-arrow-rt, .overlaycontextpanel-arrow-rc, .overlaycontextpanel-arrow-rb {
	margin-right: 12px;
}

.ie6 .overlaycontextpanel-arrow-br .overlaycontextpanel-pointer, .ie6 .overlaycontextpanel-arrow-bc .overlaycontextpanel-pointer, .ie6 .overlaycontextpanel-arrow-bl .overlaycontextpanel-pointer {
	bottom: 0;
}