.timepicker-popover .yui3-aclist {
    position: relative;
    max-height: 200px;
}
.timepicker-popover .yui3-aclist-list {
    padding: 0;
    margin: 0;
}
.timepicker-popover .yui3-aclist-item {
    text-align: center;
}
.timepicker-popover.popover {
    min-width: 150px;
}
.timepicker-popover .popover-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}