.aui-portal-layout-drag-indicator {
	background: #3C56B5;
	height: 6px;
	position: absolute;
	width: 100px;
	z-index: 300;
}

.aui-portal-layout-drag-target-indicator {
}

.aui-portal-layout-drag-indicator-icon {
	position: absolute;
	top: -5px;
}

.aui-portal-layout-drag-indicator-icon-left {
	left: -13px;
}

.aui-portal-layout-drag-indicator-icon-right {
	right: -13px;
}