<!DOCTYPE html>

<html>
<head>
	<script src="../../build/yui/yui.js" type="text/javascript"></script>
	<script src="../../build/aui-base/aui-base.js" type="text/javascript"></script>

	<link rel="stylesheet" href="../../themes/base/css/main.css" type="text/css" media="screen" />

	<style type="text/css" media="screen">
		body {
			font-size: 12px;
		}

		#wrapper {
			padding: 10px;
		}
	</style>
</head>

<body>

<div id="wrapper">
	<h1>Alloy - @module.base.name@ Demo</h1>


	<div id="demo"></div>
</div>

<script type="text/javascript" charset="utf-8">

AUI().add(
	'@module.name@',
	function(A) {
		
	},
	'@VERSION',
	{
		requires: [],
		use: []
	}
);

AUI().ready(
	'@module.name@',
	function(A) {
		
	}
);

</script>

</body>
</html>