.aui-image-viewer {
	z-index: 3000;
}

.aui-image-viewer-link {
	outline: 0 none;
}

.aui-image-viewer-content .aui-icon-loading {
	margin: 0 auto;
}

.aui-image-viewer-bd {
	background: #fff;
	padding: 5px;
	width: 16px;
}

.aui-image-viewer-content .yui3-widget-ft {
	background: #fff;
	color: #222;
	padding: 0 10px 10px;
	font-size: larger;
	font-weight: bold;
}

.aui-image-viewer-loading .aui-image-viewer-content .yui3-widget-ft {
	visibility: hidden;
}

.aui-image-viewer-info {
	color: #777;
}

.aui-image-viewer-arrow {
	height: 54px;
	outline: 0;
	position: absolute;
	width: 30px;
	z-index: 3000;
}

.aui-image-viewer-arrow-left {
	background-image: url(arrow-left.png);
	left: 100px;
}

.aui-image-viewer-arrow-right {
	background-image: url(arrow-right.png);
	right: 100px;
}

.aui-image-viewer-close {
	background-image: url(close.png);
	background-repeat: no-repeat;
	height: 19px;
	outline: 0;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 19px;
	z-index: 3000;
}

.ie6 .aui-image-viewer-close {
	position: absolute;
}