.image-viewer, .image-viewer-control.carousel-control {
    position: fixed;
    z-index: 3000;
}

.image-viewer.well {
    padding: 0;
}

.image-viewer-close {
    color: #fff;
    font-size: 30px;
    opacity: 0.5;
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 3000;
}

.image-viewer-close:hover {
    color: #fff;
    opacity: 1;
}

.image-viewer-hidden, .image-viewer-loading .yui3-widget-ft {
    display: none;
}

.image-viewer-bd, .image-viewer .yui3-widget-ft {
    background: #fff;
}

.image-viewer-caption, .image-viewer-info {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-viewer-caption {
    color: #222;
}

.image-viewer-info {
    color: #777;
    padding-bottom: 1px;
}

.image-viewer-loader {
    visibility: hidden;
}

.ie6 .image-viewer-close {
    position: absolute;
}

.image-viewer .image-viewer-content, .image-viewer .image-gallery-content {
    padding: 5px 0;
    background: #fff;
    text-align: center;
}

.image-viewer .image-viewer-image-list,
.image-viewer .image-viewer-image-container {
    height: 100%;
}

.image-viewer .image-viewer-image-container {
    display: none;
    left: 0;
    padding: 0 5px;
    position: relative;
    top: 0;
    width: 100%;
}

.image-viewer .image-viewer-image-container.image-viewer-current-image {
    display: block;
}

.image-viewer .image-viewer-image {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.image-viewer .image-viewer-loading-icon {
    display: none;
}

.image-viewer .image-viewer-loading .image-viewer-loading-icon {
    display: inline-block;
}

.image-viewer .image-viewer-loading .image-viewer-image {
    display: none;
}