.yui3-widget-mask.image-viewer-mask {
    opacity: 0.9;
}

.image-viewer-base, .image-viewer-base-control.carousel-control {
    position: fixed;
    z-index: 3000;
}

.image-viewer-close {
    color: #fff;
    font-size: 30px;
    opacity: 0.5;
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 3000;
}

.image-viewer-close:hover {
    color: #fff;
    opacity: 1;
}

.image-viewer-hidden, .image-viewer-loading .yui3-widget-ft {
    display: none;
}

.image-viewer .yui3-widget-ft {
    padding: 5px 0;
}

.image-viewer-caption, .image-viewer-info {
    line-height: 1.3;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-viewer-caption {
    color: #ccc;
}

.image-viewer-info {
    color: #777;
    display: inline;
    font-size: 15px;
}

.ie6 .image-viewer-close {
    position: absolute;
}

.image-viewer .image-viewer-content, .image-viewer .image-gallery-content {
    padding: 5px 0;
    text-align: center;
}

.image-viewer .image-viewer-base-image-container {
    left: 0;
    padding: 0 5px;
    position: relative;
    top: 0;
    vertical-align: top;
}

.image-viewer .image-viewer-footer-buttons {
    padding-left: 15px;
}

.image-viewer .image-viewer-footer-buttons .glyphicon {
    color: #777;
    cursor: pointer;
    opacity: 1;
    padding: 0 2px;
}

.image-viewer .image-viewer-footer-buttons .glyphicon:hover {
    color: #fff;
}

.image-viewer .image-viewer-thumbnails {
    height: 70px;
}

.image-viewer .image-viewer-thumbnails .image-viewer-multiple .image-viewer-base-image-container,
.image-viewer .image-viewer-thumbnails .image-viewer-multiple .image-viewer-base-image {
    height: 56px;
    padding: 0;
    width: 56px;
}

.image-viewer .image-viewer-thumbnails .image-viewer-multiple {
    padding: 10px 0;
}

.image-viewer .image-viewer-thumbnails .image-viewer-multiple .image-viewer-base-loading-icon {
    line-height: 50px;
}

.image-viewer .image-viewer-thumbnails .image-viewer-multiple .image-viewer-base-image-container:hover {
    border: 3px solid #777;
}

.image-viewer .image-viewer-thumbnails .image-viewer-multiple .image-viewer-base-image-container.image-viewer-base-current-image {
    border: 3px solid #ccc;
}

.widget-swipe.image-viewer .yui3-widget-bd {
    white-space: nowrap;
}

.widget-swipe.image-viewer .image-viewer-image-container,
.widget-swipe.image-viewer .image-viewer-image-container.image-viewer-current-image {
    display: inline-block;
    width: 100%;
}
