.hsv-image-backdrop {
    background-color: #000;
}

.hsv-hs-container, .hsv-hs-thumb, .hsv-value-canvas, .hsv-alpha-canvas, .hsv-value-image, .hsv-alpha-image, .hsv-view-backdrop {
    background-image: url(sprite.png);
}

.hsv-hs-thumb {
    background-position: -315px -84px;
    left: 1px;
    top: 1px;
}

.hsv-value-slider-container, .hsv-alpha-slider-container {
    background-color: #FF0000;
}

.hsv-value-canvas {
    background-position: -260px 0;
}

.hsv-alpha-canvas {
    background-position: -290px 0;
}

.hsv-value-image, .hsv-alpha-image {
    background-position: -315px -68px;
}

.hsv-view-backdrop {
    background-color: #FFF;
    background-position: -315px 0;
}

.hsv-result-view {
    background-color: #FF0000;
}

.hsv-result-input {
    width: 60px;
}