.hsv-container {
    border: 1px solid #666;
}
.hsv-image-backdrop {
    background-color: #000;
}
.hsv-hs-container {
    background-image: url(sprite.png);
    border: 1px solid #666;
}
.hsv-hs-thumb {
    background-image: url(sprite.png);
    background-position: -315px -84px;
    left: 1px;
    top: 1px;
}
.hsv-value-slider-container, .hsv-alpha-slider-container {
    background-color: #FF0000;
    border: 1px solid #666;
}
.hsv-value-canvas {
    background-image: url(sprite.png);
    background-position: -260px 0;
}
.hsv-alpha-canvas {
    background-image: url(sprite.png);
    background-position: -290px 0;
}
.hsv-value-image, .hsv-alpha-image {
    background-image: url(sprite.png);
    background-position: -315px -69px;
}
.hsv-alpha-slider-container {
    border: 1px solid #666;
}
.hsv-view-backdrop {
    background-color: #FFF;
    background-image: url(sprite.png);
    background-position: -315px 0;
}
.hsv-result-view {
    background-color: #FF0000;
    border: 1px solid #666;
}
.hsv-result-input {
    width: 60px;
}