/* This CSS sets the default styles for the base components. */

/* ---------- Global ---------- */

html {
	overflow-y: scroll;
}

dl,
form,
input {
	margin: 0;
}

body {
	background: #FFF;
	color: #000;
	font: 16px/1.25 Times, "Times New Roman", Georgia, serif;
	margin: 0.5em;
}

/* ---------- Block ---------- */

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

blockquote {
	margin: 1em 2.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1.25em;
	margin: 0.75em 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

hr {
	border: 0 solid #BFBFBF;
	border-width: 0 0 1px;
	height: 0;
}

ol,
ul {
	padding: 0 0 0 2.5em;
}

ol,
p,
pre,
ul {
	margin: 1em 0;
}

/* ---------- Inline ---------- */

a {
	outline: none;
}

abbr {
	border-bottom: 1px dotted #000;
	border-bottom-color: inherit;
}

dfn {
	font-style: italic;
}

q:before,
q:after {
	content: "";
}

/* ---------- Inline-block ---------- */

img {
	border: 0;
	vertical-align: text-bottom;
}

sub,
sup {
	line-height: 0;
	font-size: 75%;
}

table {
	border-collapse: collapse;
}