/* ---------- Interaction styles ---------- */

.aui-state-default,
.aui-state-active,
.aui-state-hover {
	background: #eee;
	border: 1px solid #ccc;
	border-color: #bbb #999 #999 #bbb;
}

.aui-state-active {
	background: #efefef;
	border-color: #333;
}

.aui-state-hover {
	background: #ddd;
	border-color: #999 #bbb #bbb #999;
	cursor: pointer;
}

.aui-state-disabled {
	cursor: default !important;
}

.aui-state-highlight {

}

.aui-state-error {

}

.aui-state-error-text {

}

.aui-priority-primary {

}

.aui-priority-secondary {

}

.aui-html-template {
	display: none;
}

.aui-helper-hidden {
	display: none !important;
}

.aui-helper-hidden-accessible,
.aui-overlay-hidden,
.aui-contextoverlay-hidden,
.aui-overlaymask-hidden,
.aui-calendar-hidden,
.aui-datepicker-hidden,
.aui-colorpicker-hidden,
.aui-tooltip-hidden,
.aui-image-viewer-hidden,
.aui-image-gallery-hidden {
	left: -99999px !important;
	position: absolute !important;
	top: -99999px !important;
}

.aui-helper-reset {
	margin: 0;
	padding: 0;
	outline: 0;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
	border: 0;
}

.aui-helper-clearfix:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}

.aui-helper-clearfix {
	/* IE7/IE6 */
	zoom: 1;
}

.aui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;

	/* IE8 */
	-ms-filter: alpha(opacity=0);
	/* IE7/IE8(quirks) */
	filter: alpha(opacity=0);
}

/* unselectable */

.aui-helper-unselectable, .aui-helper-unselectable * {
   -moz-user-select: none;
   -khtml-user-select: none;
}

/* scroll lock */
.aui-helper-scroll-lock {
	height: 100%;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

/*
The rules below set the base font size and background color. These are best overwritten inside of custom.css.
*/

body {
	background-color: #FFF;
	font: 62.5%/1.6em Arial,Helvetica,Verdana,sans-serif;
}