/*Tooltip and Pointer CSS*/

.aui-contextpanel {
	position: absolute;
	z-index: 9999;
}

.aui-contextpanel-content {
	border-width: 2px;
	padding: 8px;
	position: relative;
}

.aui-contextpanel-hidden {
	visibility: hidden;
	top: -10000px !important;
	left: -10000px !important;
}

.aui-contextpanel .aui-contextpanel-pointer,.aui-contextpanel .aui-contextpanel-pointer-inner {
	position: absolute;
	width: 0;
	height: 0;
	background: none;
}

/*top*/

.aui-contextpanel-arrow-tr .aui-contextpanel-pointer,.aui-contextpanel-arrow-tc .aui-contextpanel-pointer,.aui-contextpanel-arrow-tl .aui-contextpanel-pointer {
	top: -14px;
	border-top: 0;
	border-bottom-width: 14px;
}

.aui-contextpanel-arrow-tr .aui-contextpanel-pointer {
	border-left: 18px dotted transparent;
	border-right: 0;
	right: 10px;
}

.aui-contextpanel-arrow-tc .aui-contextpanel-pointer {
	border-left: 10px dotted transparent;
	border-right: 10px dotted transparent;
	left: 50%;
	margin-left: -10px;
}

.aui-contextpanel-arrow-tl .aui-contextpanel-pointer {
	border-left: 0;
	border-right: 18px dotted transparent;
	left: 10px;
}

.aui-contextpanel-arrow-tr .aui-contextpanel-pointer-inner,.aui-contextpanel-arrow-tc .aui-contextpanel-pointer-inner,.aui-contextpanel-arrow-tl .aui-contextpanel-pointer-inner {
	border-bottom: 10px solid #fff;
	bottom: -14px;
}

.aui-contextpanel-arrow-tr .aui-contextpanel-pointer-inner {
	border-left: 12px dotted transparent;
	border-right: 0;
	right: 2px;
}

.aui-contextpanel-arrow-tc .aui-contextpanel-pointer-inner {
	border-left: 8px dotted transparent;
	border-right: 8px dotted transparent;
	left: -8px;
}

.aui-contextpanel-arrow-tl .aui-contextpanel-pointer-inner {
	border-left: 0;
	border-right: 12px dotted transparent;
	left: 2px;
}

/*right*/

.aui-contextpanel-arrow-rb .aui-contextpanel-pointer,.aui-contextpanel-arrow-rc .aui-contextpanel-pointer,.aui-contextpanel-arrow-rt .aui-contextpanel-pointer {
	right: -14px;
	border-right: 0;
	border-left-width: 14px;
}

.aui-contextpanel-arrow-rb .aui-contextpanel-pointer {
	border-bottom: 0;
	border-top: 18px dotted transparent;
	bottom: 10px;
}

.aui-contextpanel-arrow-rc .aui-contextpanel-pointer {
	border-bottom: 10px dotted transparent;
	border-top: 10px dotted transparent;
	bottom: 50%;
	margin-bottom: -10px;
}

.aui-contextpanel-arrow-rt .aui-contextpanel-pointer {
	border-bottom: 18px dotted transparent;
	border-top: 0;
	top: 10px;
}

.aui-contextpanel-arrow-rb .aui-contextpanel-pointer-inner,.aui-contextpanel-arrow-rc .aui-contextpanel-pointer-inner,.aui-contextpanel-arrow-rt .aui-contextpanel-pointer-inner {
	border-left: 10px solid #fff;
	left: -14px;
}

.aui-contextpanel-arrow-rb .aui-contextpanel-pointer-inner {
	border-bottom: 0;
	border-top: 12px dotted transparent;
	bottom: 2px;
}

.aui-contextpanel-arrow-rc .aui-contextpanel-pointer-inner {
	border-bottom: 8px dotted transparent;
	border-top: 8px dotted transparent;
	bottom: -8px;
}

.aui-contextpanel-arrow-rt .aui-contextpanel-pointer-inner {
	border-bottom: 12px dotted transparent;
	border-top: 0;
	top: 2px;
}

/*bottom*/

.aui-contextpanel-arrow-br .aui-contextpanel-pointer,.aui-contextpanel-arrow-bc .aui-contextpanel-pointer,.aui-contextpanel-arrow-bl .aui-contextpanel-pointer {
	bottom: -14px;
	border-bottom: 0;
	border-top-width: 14px;
}

.aui-contextpanel-arrow-br .aui-contextpanel-pointer {
	border-left: 18px dotted transparent;
	border-right: 0;
	right: 10px;
}

.aui-contextpanel-arrow-bc .aui-contextpanel-pointer {
	border-left: 10px dotted transparent;
	border-right: 10px dotted transparent;
	left: 50%;
	margin-left: -10px;
}

.aui-contextpanel-arrow-bl .aui-contextpanel-pointer {
	border-left: 0;
	border-right: 18px dotted transparent;
	left: 10px;
}

.aui-contextpanel-arrow-br .aui-contextpanel-pointer-inner,.aui-contextpanel-arrow-bc .aui-contextpanel-pointer-inner,.aui-contextpanel-arrow-bl .aui-contextpanel-pointer-inner {
	border-top: 10px solid #fff;
	top: -14px;
}

.aui-contextpanel-arrow-br .aui-contextpanel-pointer-inner {
	border-left: 12px dotted transparent;
	border-right: 0;
	right: 2px;
}

.aui-contextpanel-arrow-bc .aui-contextpanel-pointer-inner {
	border-left: 8px dotted transparent;
	border-right: 8px dotted transparent;
	left: -8px;
}

.aui-contextpanel-arrow-bl .aui-contextpanel-pointer-inner {
	border-left: 0;
	border-right: 12px dotted transparent;
	left: 2px;
}

/*left*/

.aui-contextpanel-arrow-lb .aui-contextpanel-pointer,.aui-contextpanel-arrow-lc .aui-contextpanel-pointer,.aui-contextpanel-arrow-lt .aui-contextpanel-pointer {
	left: -14px;
	border-left: 0;
	border-right-width: 14px;
}

.aui-contextpanel-arrow-lb .aui-contextpanel-pointer {
	border-bottom: 0;
	border-top: 18px dotted transparent;
	bottom: 10px;
}

.aui-contextpanel-arrow-lc .aui-contextpanel-pointer {
	border-bottom: 10px dotted transparent;
	border-top: 10px dotted transparent;
	bottom: 50%;
	margin-bottom: -10px;
}

.aui-contextpanel-arrow-lt .aui-contextpanel-pointer {
	border-bottom: 18px dotted transparent;
	border-top: 0;
	top: 10px;
}

.aui-contextpanel-arrow-lb .aui-contextpanel-pointer-inner,.aui-contextpanel-arrow-lc .aui-contextpanel-pointer-inner,.aui-contextpanel-arrow-lt .aui-contextpanel-pointer-inner {
	border-right: 10px solid #fff;
	right: -14px;
}

.aui-contextpanel-arrow-lb .aui-contextpanel-pointer-inner {
	border-bottom: 0;
	border-top: 12px dotted transparent;
	bottom: 2px;
}

.aui-contextpanel-arrow-lc .aui-contextpanel-pointer-inner {
	border-bottom: 8px dotted transparent;
	border-top: 8px dotted transparent;
	bottom: -8px;
}

.aui-contextpanel-arrow-lt .aui-contextpanel-pointer-inner {
	border-bottom: 12px dotted transparent;
	border-top: 0;
	top: 2px;
}