/*
Add your classname to the list below in order to have your element
recieve a gracefully degrading chrome enhancement such as a drop 
shadow or rounded corners.
*/

/* ---------- CSS3 shadows ---------- */
.aui-dialog-content,
.aui-contextpanel-content,
.aui-tooltip-content,
.aui-calendar-content,
.aui-datepicker-content,
.aui-colorpicker-content,
.aui-tree-drag-helper-content {
	-moz-box-shadow: 4px 4px 14px #777;
	-webkit-box-shadow: 4px 4px 14px #777;
	box-shadow: 4px 4px 14px #777;
}

/* No shadow */

.aui-null-selector {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* ---------- Rounded corners ---------- */

/* All corners */

.aui-state-default,
.aui-state-active,
.aui-state-hover,
.aui-calendar-content,
.aui-datepicker-content,
.aui-colorpicker-content,
.aui-image-viewer-bd,
.aui-image-gallery-paginator .aui-paginator-page-link {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Large corners */
.aui-textboxlistentry,
.aui-textboxlistentry-close {
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
}


/* No corners */

.aui-dialog .aui-widget-hd,
.aui-editable-hover,
.aui-tab,
.aui-contextpanel-pointer.aui-state-default,
.aui-toolset-item-content {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/* Left corners */

.aui-toolset-first .aui-toolset-item-content {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

/* Right corners */

.aui-toolset-last .aui-toolset-item-content {
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* Top left */

.aui-tab {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

/* Top right */

.aui-tab {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

/* Bottom left */

.aui-null-selector {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

/* Bottom right */

.aui-null-selector {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}