.aui-loadingmask, .aui-loadingmask-content {
	z-index: 99999 !important;
}

.aui-loadingmask-message {
	background: #eee;
	border: 1px solid;
	border-color: #bbb #999 #999 #bbb;
	left: 50%;
	padding: 2px;
	position: absolute;
	top: 50%;
}

.aui-loadingmask-message-content {
	background: #fff url(../images/loading_indicator.gif) no-repeat 5px 50%;
	border: 1px solid #ccc;
	color: #111;
	line-height: 1;
	padding: 5px 10px 5px 25px;
}