.aui-panel {
}

.aui-panel-hidden {
	display: none;
}

.aui-panel-toolset {
	float: right;
}

.aui-panel-hd {
	background: #eee;
	border-bottom: 1px solid #999;
	padding: 2px;
}

.aui-panel-collapsed .aui-panel-hd {
	border-bottom-width: 0;
}

.aui-panel-hd-text {
	float: left;
	line-height: 2;
}
