.aui-portal-layout-drag-indicator {
	background: #3C56B5;
	height: 5px;
	position: absolute;
	width: 100px;
}

.aui-portal-layout-drag-target-indicator {

}

.aui-portal-layout-drag-indicator-icon {
	position: absolute;
	top: -6px;
}

.aui-portal-layout-drag-indicator-icon-left {
	left: -13px;
}

.aui-portal-layout-drag-indicator-icon-right {
	right: -13px;
}