.aui-sortable {
}

.aui-sortable-item {
}

.aui-sortable-proxy {
	background: #ccc;
}

.aui-sortable-dragging {
	visibility: hidden;
}

.aui-sortable-handle,
.aui-sortable-no-handles {
	cursor: move;
}