.aui-rating {}

.aui-rating-content {}

.aui-rating-disabled {}

.aui-rating-element {
	background: transparent url(rating.png) no-repeat scroll 0 0;
	width: 17px;
	height: 16px;
	display: block;
	float: left;
	font-size: 0;
	text-indent: -9999em;
}

.aui-rating-element-off {}

.aui-rating-element-on {
	background-position: 0 -16px;
}

.aui-rating-element-hover {
	background-position: 0 -32px;
}

.aui-rating-label-element {
	display: block;
	font-size: 12px;
	padding: 0 2px;
}

.aui-thumbrating .aui-rating-element {
	background: transparent url(rating_thumbs.png) no-repeat scroll 0 0;
	height: 18px;
	width: 18px;
}

.aui-thumbrating .aui-rating-thumb-up.aui-rating-element-off {
	background-position: 0 -57px;
}

.aui-thumbrating .aui-rating-thumb-up.aui-rating-element-hover, .aui-thumbrating .aui-rating-thumb-up.aui-rating-element-on {
	background-position: 0 -38px;
}

.aui-thumbrating .aui-rating-thumb-down.aui-rating-element-off {
	background-position: 0 -19px;
}

.aui-thumbrating .aui-rating-thumb-down.aui-rating-element-hover, .aui-thumbrating .aui-rating-thumb-down.aui-rating-element-on {
	background-position: 0 0;
}

.aui-thumbrating .aui-rating-label-element {
	padding: 0 2px;
	float: left;
}