.rating a {
    cursor: pointer;
}
.rating-disabled a {
    cursor: default;
}
.rating-off {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5;
}