.image-cropper .image-cropper-crop .yui3-resize-handle-inner-t, .image-cropper .image-cropper-crop .yui3-resize-handle-inner-tr, .image-cropper .image-cropper-crop .yui3-resize-handle-inner-r, .image-cropper .image-cropper-crop .yui3-resize-handle-inner-br, .image-cropper .image-cropper-crop .yui3-resize-handle-inner-b, .image-cropper .image-cropper-crop .yui3-resize-handle-inner-bl, .image-cropper .image-cropper-crop .yui3-resize-handle-inner-l, .image-cropper .image-cropper-crop .yui3-resize-handle-inner-tl {
    background: url(resize-handle.png) no-repeat 0 0;
}
.image-cropper-overlay {
    -moz-transition: background-color 0.3s ease-out;
    -ms-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}