/*Tooltip and Pointer CSS*/

.aui-overlaycontextpanel {
	position: absolute;
	z-index: 9999;
}

.aui-overlaycontextpanel-content {
	border-width: 2px;
	padding: 8px;
	position: relative;
}

.aui-overlaycontextpanel-hidden {
	display: none !important;
	top: -10000px !important;
	left: -10000px !important;
}

.aui-overlaycontextpanel .aui-overlaycontextpanel-pointer,.aui-overlaycontextpanel .aui-overlaycontextpanel-pointer-inner {
	position: absolute;
	width: 0;
	height: 0;
	background: none;
}

/*top*/

.aui-overlaycontextpanel-arrow-tr .aui-overlaycontextpanel-pointer,.aui-overlaycontextpanel-arrow-tc .aui-overlaycontextpanel-pointer,.aui-overlaycontextpanel-arrow-tl .aui-overlaycontextpanel-pointer {
	top: -14px;
	border-top: 0;
	border-bottom-width: 14px;
}

.aui-overlaycontextpanel-arrow-tr .aui-overlaycontextpanel-pointer {
	border-left: 18px dashed transparent;
	border-right: 0;
	right: 10px;
}

.aui-overlaycontextpanel-arrow-tc .aui-overlaycontextpanel-pointer {
	border-left: 10px dashed transparent;
	border-right: 10px dashed transparent;
	left: 50%;
	margin-left: -10px;
}

.aui-overlaycontextpanel-arrow-tl .aui-overlaycontextpanel-pointer {
	border-left: 0;
	border-right: 18px dashed transparent;
	left: 10px;
}

.aui-overlaycontextpanel-arrow-tr .aui-overlaycontextpanel-pointer-inner,.aui-overlaycontextpanel-arrow-tc .aui-overlaycontextpanel-pointer-inner,.aui-overlaycontextpanel-arrow-tl .aui-overlaycontextpanel-pointer-inner {
	border-bottom: 10px solid #fff;
	bottom: -14px;
}

.aui-overlaycontextpanel-arrow-tr .aui-overlaycontextpanel-pointer-inner {
	border-left: 12px dashed transparent;
	border-right: 0;
	right: 2px;
}

.aui-overlaycontextpanel-arrow-tc .aui-overlaycontextpanel-pointer-inner {
	border-left: 8px dashed transparent;
	border-right: 8px dashed transparent;
	left: -8px;
}

.aui-overlaycontextpanel-arrow-tl .aui-overlaycontextpanel-pointer-inner {
	border-left: 0;
	border-right: 12px dashed transparent;
	left: 2px;
}

/*right*/

.aui-overlaycontextpanel-arrow-rb .aui-overlaycontextpanel-pointer,.aui-overlaycontextpanel-arrow-rc .aui-overlaycontextpanel-pointer,.aui-overlaycontextpanel-arrow-rt .aui-overlaycontextpanel-pointer {
	right: -14px;
	border-right: 0;
	border-left-width: 14px;
}

.aui-overlaycontextpanel-arrow-rb .aui-overlaycontextpanel-pointer {
	border-bottom: 0;
	border-top: 18px dashed transparent;
	bottom: 10px;
}

.aui-overlaycontextpanel-arrow-rc .aui-overlaycontextpanel-pointer {
	border-bottom: 10px dashed transparent;
	border-top: 10px dashed transparent;
	bottom: 50%;
	margin-bottom: -10px;
}

.aui-overlaycontextpanel-arrow-rt .aui-overlaycontextpanel-pointer {
	border-bottom: 18px dashed transparent;
	border-top: 0;
	top: 10px;
}

.aui-overlaycontextpanel-arrow-rb .aui-overlaycontextpanel-pointer-inner,.aui-overlaycontextpanel-arrow-rc .aui-overlaycontextpanel-pointer-inner,.aui-overlaycontextpanel-arrow-rt .aui-overlaycontextpanel-pointer-inner {
	border-left: 10px solid #fff;
	left: -14px;
}

.aui-overlaycontextpanel-arrow-rb .aui-overlaycontextpanel-pointer-inner {
	border-bottom: 0;
	border-top: 12px dashed transparent;
	bottom: 2px;
}

.aui-overlaycontextpanel-arrow-rc .aui-overlaycontextpanel-pointer-inner {
	border-bottom: 8px dashed transparent;
	border-top: 8px dashed transparent;
	bottom: -8px;
}

.aui-overlaycontextpanel-arrow-rt .aui-overlaycontextpanel-pointer-inner {
	border-bottom: 12px dashed transparent;
	border-top: 0;
	top: 2px;
}

/*bottom*/

.aui-overlaycontextpanel-arrow-br .aui-overlaycontextpanel-pointer,.aui-overlaycontextpanel-arrow-bc .aui-overlaycontextpanel-pointer,.aui-overlaycontextpanel-arrow-bl .aui-overlaycontextpanel-pointer {
	bottom: -14px;
	border-bottom: 0;
	border-top-width: 14px;
}

.aui-overlaycontextpanel-arrow-br .aui-overlaycontextpanel-pointer {
	border-left: 18px dashed transparent;
	border-right: 0;
	right: 10px;
}

.aui-overlaycontextpanel-arrow-bc .aui-overlaycontextpanel-pointer {
	border-left: 10px dashed transparent;
	border-right: 10px dashed transparent;
	left: 50%;
	margin-left: -10px;
}

.aui-overlaycontextpanel-arrow-bl .aui-overlaycontextpanel-pointer {
	border-left: 0;
	border-right: 18px dashed transparent;
	left: 10px;
}

.aui-overlaycontextpanel-arrow-br .aui-overlaycontextpanel-pointer-inner,.aui-overlaycontextpanel-arrow-bc .aui-overlaycontextpanel-pointer-inner,.aui-overlaycontextpanel-arrow-bl .aui-overlaycontextpanel-pointer-inner {
	border-top: 10px solid #fff;
	top: -14px;
}

.aui-overlaycontextpanel-arrow-br .aui-overlaycontextpanel-pointer-inner {
	border-left: 12px dashed transparent;
	border-right: 0;
	right: 2px;
}

.aui-overlaycontextpanel-arrow-bc .aui-overlaycontextpanel-pointer-inner {
	border-left: 8px dashed transparent;
	border-right: 8px dashed transparent;
	left: -8px;
}

.aui-overlaycontextpanel-arrow-bl .aui-overlaycontextpanel-pointer-inner {
	border-left: 0;
	border-right: 12px dashed transparent;
	left: 2px;
}

/*left*/

.aui-overlaycontextpanel-arrow-lb .aui-overlaycontextpanel-pointer,.aui-overlaycontextpanel-arrow-lc .aui-overlaycontextpanel-pointer,.aui-overlaycontextpanel-arrow-lt .aui-overlaycontextpanel-pointer {
	left: -14px;
	border-left: 0;
	border-right-width: 14px;
}

.aui-overlaycontextpanel-arrow-lb .aui-overlaycontextpanel-pointer {
	border-bottom: 0;
	border-top: 18px dashed transparent;
	bottom: 10px;
}

.aui-overlaycontextpanel-arrow-lc .aui-overlaycontextpanel-pointer {
	border-bottom: 10px dashed transparent;
	border-top: 10px dashed transparent;
	bottom: 50%;
	margin-bottom: -10px;
}

.aui-overlaycontextpanel-arrow-lt .aui-overlaycontextpanel-pointer {
	border-bottom: 18px dashed transparent;
	border-top: 0;
	top: 10px;
}

.aui-overlaycontextpanel-arrow-lb .aui-overlaycontextpanel-pointer-inner,.aui-overlaycontextpanel-arrow-lc .aui-overlaycontextpanel-pointer-inner,.aui-overlaycontextpanel-arrow-lt .aui-overlaycontextpanel-pointer-inner {
	border-right: 10px solid #fff;
	right: -14px;
}

.aui-overlaycontextpanel-arrow-lb .aui-overlaycontextpanel-pointer-inner {
	border-bottom: 0;
	border-top: 12px dashed transparent;
	bottom: 2px;
}

.aui-overlaycontextpanel-arrow-lc .aui-overlaycontextpanel-pointer-inner {
	border-bottom: 8px dashed transparent;
	border-top: 8px dashed transparent;
	bottom: -8px;
}

.aui-overlaycontextpanel-arrow-lt .aui-overlaycontextpanel-pointer-inner {
	border-bottom: 12px dashed transparent;
	border-top: 0;
	top: 2px;
}

.aui-overlaycontextpanel-arrow-tl, .aui-overlaycontextpanel-arrow-tc, .aui-overlaycontextpanel-arrow-tr {
	margin-top: 12px;
}

.aui-overlaycontextpanel-arrow-bl, .aui-overlaycontextpanel-arrow-bc, .aui-overlaycontextpanel-arrow-br {
	margin-bottom: 12px;
}

.aui-overlaycontextpanel-arrow-lt, .aui-overlaycontextpanel-arrow-lc, .aui-overlaycontextpanel-arrow-lb {
	margin-left: 12px;
}

.aui-overlaycontextpanel-arrow-rt, .aui-overlaycontextpanel-arrow-rc, .aui-overlaycontextpanel-arrow-rb {
	margin-right: 12px;
}

.ie6 .aui-overlaycontextpanel-arrow-br .aui-overlaycontextpanel-pointer, .ie6 .aui-overlaycontextpanel-arrow-bc .aui-overlaycontextpanel-pointer, .ie6 .aui-overlaycontextpanel-arrow-bl .aui-overlaycontextpanel-pointer {
	bottom: 0;
}