.yui3-aui-dialog {
	position: absolute;
}

.yui3-aui-dialog .yui3-aui-icon-loading {
	margin: 0 auto;
}

.yui3-aui-dd-draggable .yui3-aui-dialog-hd {
	cursor: move;
}

.yui3-aui-dialog-bd {
	overflow-y: auto;
}

.yui3-aui-dialog-button {
	margin-right: 2px;
}