.aui-dialog-iframe-node {
	border-width: 0;
	overflow: auto;
	width: 100%;
}

.aui-dialog .yui3-widget-content-expanded .aui-dialog-iframe-node {
	height: 100%;
}

.aui-dialog-iframe-bd {
	line-height: 0;
}

.aui-dialog .yui3-widget-content-expanded .aui-dialog-iframe-bd {
	overflow-y: visible;
}