.dialog-iframe-node {
	border-width: 0;
	overflow: auto;
	width: 100%;
}

.yui3-widget-content-expanded .dialog-iframe-node {
	height: 100%;
}

.dialog-iframe-bd {
	line-height: 0;
}

.yui3-widget-content-expanded .dialog-iframe-bd {
	overflow-y: visible;
}