.aui-dataview {
	padding: 10px;
	border: solid 1px #999;
}

.aui-dataview .aui-combobox {
	margin-bottom: 4px;
}

.aui-dataview-search {
	border: solid 1px #ccc;
}

.aui-dataview-tree {
	border: solid 1px #ccc;
	padding: 5px;
}

.aui-dataview .aui-panel-bd ul li {
	margin: 10px;
}

.aui-dataview-search-list-item-image img {
	width: 30px;
	height: 30px;
}

.aui-dataview .aui-panel-bd ul li div {
	font-size: 9px;
}

.aui-dataview-search-list-item-icon span {
	width: 16px;
	height: 16px;
}