.autocomplete-content .toolbar {
	display: inline-block;
	position: absolute;
}

.autocomplete-trigger {
	cursor: pointer;
	display: inline-block;
	float: none;
}

.autocomplete-list-item {
	border: 1px solid #fff;
	list-style: none;
	margin: 0;
	padding: 0 3px;
}

.autocomplete-results-content {
	border: 1px solid #98c0f4;
	height: 100%;
	overflow-y: auto;
}

.autocomplete-selected {
	background: #dfe8f6;
	border-color: #a3bae9;
}