.aui-loadingmask-masked {
	overflow: hidden !important;
}

.aui-loadingmask-masked-relative {
	position: relative !important;
}

.aui-loadingmask {
    height: 100%;
	width: 100%;
    zoom: 1;
}

.aui-loadingmask-content {
	background: #ccc;
}

.aui-loadingmask-message {
	background: #eee;
	border: 1px solid;
	border-color: #bbb #999 #999 #bbb;
	left: 50%;
	padding: 2px;
	position: absolute;
	top: 50%;
}

.aui-loadingmask-message-content {
	background: #fff url(../../../../../build/aui-skin-base/images/loading_indicator.gif) no-repeat 5px 50%;
	border: 1px solid #ccc;
	color: #111;
	line-height: 1;
	padding: 5px 10px 5px 25px;
}