.aui-databrowser {
	overflow: hidden;
}

.aui-databrowser-search {
	overflow-y: auto;
}

.aui-databrowser-tree {
	overflow-y: auto;
}

.aui-databrowser .aui-panel-bd ul {
	margin: 0;
	list-style: none;
	overflow: hidden;
	clear: left;
}

.aui-databrowser .aui-panel-bd ul li {
	text-align: center;
	float: left;
}

.aui-databrowser-search-list-item-icon span {
	margin: 0 auto;
}