.scroller {
	overflow: hidden;
	position: relative;
}

.scroller-content {
	left: 0;
	position: absolute;
	top: 0;
}

.scroller-vertical .scroller-content {
	height: auto !important;
}

.scroller-horizontal .scroller-content {
	float: left;
	white-space: nowrap;
}

.scroller-horizontal .scroller-item {
	display: inline-block;
}

.ie7 .scroller-horizontal .scroller-item, .ie6 .scroller-horizontal .scroller-item {
	display: inline;
	zoom: 1;
}